[2020-06-05 13:39] chrisyates-sage opened #7 "Does this work under SSO?"
Hi,

I've followed the installation instructions, and I have administrative access to our organisation (and enterprise) so I have installed the app there. When I try to subscribe to a repo in an organisation that has had SAML SSO enabled, the error message is:

_

_

but I can subscribe to one of my own private repos. Just wondered if it's the SSO that is stopping this request going through, or so

[2020-06-08 06:53] divais commented on #7
Thank you for sharing Chris, we are looking into it and will get back. I am assuming you have admin rights on the organisation, correct?

[2020-06-08 07:19] chrisyates-sage commented on #7
Yes that's correct, full organisation owner rights.

[2020-06-09 05:15] gauravsaralMs commented on #7
@chrisyates-sage : can you try to signout then signin..
and then try to subscribe again?

please note that signout is a disruptive process so it will remove all subscriptions which you have already created.

Other option is that someone in your team who has access to the repo and has not signed in into teams app can try to signin and subscribe

[2020-06-09 08:26] chrisyates-sage commented on #7
Thank you, that did indeed solve the problem - signing out and signing back in, and re-subscribing. I think there was an authorization page that showed this time around that wasn't displayed to me the first time. All working now!

[2020-06-09 08:26] #7 closed

[2020-07-01 16:51] masterzen opened #8 "Support for compact messages"
Hi,

I haven't tested the official integration apps for MS Teams and GitHub yet, so what follows comes only from reading the README.

Coming from Slack to MS Teams, we've found that the current unofficial GitHub integration is taking a very large amount of screen real estate on each message. Looking at the screenshots in the README, it also seems that the cards sent can be large.

On the other han

[2020-07-15 11:56] ashokirla commented on #8
@masterzen Thanks for your feedback and support. The reason we provided detailed cards is to provide additional context like reviewers, labels, etc. We are planning to introduce threading where any successive activities on the Issue or PR like close, reopen, comments etc. will be appended to the card as a reply with compact info. This way user can have all the context when you see a post.

I have

[2020-07-15 16:20] masterzen commented on #8
Hi @ashokirla,

Many thanks for your answer.
I'm not sure threading (while being very nice) is a solution for our use case. When a new reply would arrive on a PR post, it would immediately make the PR post current (ie going on the bottom of the Teams window). Since the first post might be large, it gets in the way of the other chat posts in the channel (especially on small laptop screens).

What m

[2020-07-16 20:07] ashokirla opened #9 "GitHub + Microsoft Teams private preview"
I am creating this issue to track the requests for private preview for our new GitHub app for Microsoft Teams.

How do I participate in Private Preview?
Very simple, just follow the steps mentioned [here](https://github.com/integrations/microsoft-teams/blob/master/Readme.md).

What can I do with this app?
You can subscribe to your GitHub Repos or accounts and get notifications for PRs and Issues.

[2020-07-17 14:40] ashokirla commented on #8
Hi @masterzen,

Thanks a lot for your feedback. This is very helpful. As we are currently working public preview, I would like to share our plans and validated with you. This would be a great opportunity for us to incorporate any feedback at design time itself.

Can you let me know if we can have a quick sync up sometime next week.

Thanks,
Ashok.

[2020-07-20 07:24] ashokirla commented on #7
@chrisyates-sage How are you :).

First of all, thanks a lot for your support.
As its been more than a month since we released our private preview. We would like to hear your experience and learn about any feedback.

Also, we are currently working on rolling out public beta and we would like to share our features and get them validated. Can you let us know if we can have a quick call?

[2020-07-24 17:13] ErikElkins opened #10 "Scheduled reminders for Teams"
Will Teams see the Scheduled Reminders org level feature?

https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/managing-scheduled-reminders-for-your-organization

[2020-07-27 08:32] lucasweijers commented on #9
Hi Ashokirla, my name is Lucas and i am a developer at [fonQ](https://www.fonq.nl) and we currently integrated GitHub in Microsoft Teams with this project.

We are curious about your plans, timeline and backlog and we would like to have a call and discuss the future of this project.
We also have some good suggestions and feedback. You can contact me at lucas.weijers@fonq.nl and then we can plan a

[2020-07-29 15:47] ashokirla commented on #9
@lucasweijers, Thanks a lot for your interest. I am happy to setup a call and share our plans. I have sent you an email for the same.

[2020-08-06 15:13] ashokirla commented on #10
@ErikElkins : Yes, we have plans to support schedule reminders. But it is not part of our Beta release which is planned in Aug'20. We might add this support sometime in next quarter.

[2020-08-12 07:14] yss14 opened #11 "How can each team member subscribe to pull request notifications?"
Is there a way that every team member can subscribe to notifications when he/she has been assigned to a pull request?
So far I only managed to add notifications to a whole channel. The chatbot doesn't seem to offer that functionality?

[2020-08-13 11:28] ashokirla commented on #11
@yss14 Thanks for your feedback. Subscriptions are at channel level. We have few features in our backlog that can address this scenario. As part of public beta we are introducing support for filtering your subscriptions on Labels. This can help in getting notifications for only relevant subscriptions. Post beta, we have plans to introduce @mentions support. With this a user will notified in Teams

[2020-08-14 09:09] yss14 commented on #11
This sounds great! Thank you very much for the detailed information.

[2020-08-18 19:31] chkwon opened #12 "new commit notification"
Thanks for working on this integration.  Is the new **commit** notification function planned?

[2020-08-24 05:20] Mikhail2k15 opened #13 "Would be greate to have this MS Teams App open source."

[2020-08-27 12:29] ashokirla commented on #12
@chkwon, Next week, we are rolling out public preview and this has support for commit notifications on main branch.

[2020-08-27 12:30] ashokirla commented on #13
@Mikhail2k15 Currently, we are working on public preview, which is planned next week. We definitely have plans to open source but we need to evaluate and decide on the right time to open it up for public.

[2020-08-27 12:30] chkwon commented on #12
@ashokirla Ahh that is awesome! Thanks for the update!

[2020-09-01 06:41] Sathvikaaayt opened #16 "dfdfdfdfkm fghgfg"
dfdfdf dfgdf

[2020-09-01 06:46] Sathvikaaayt opened #17 "dfdf"
dfdfdfd

[2020-09-02 19:25] KaustubhBadrike-GEP opened #18 "Unable to install"
Option "[Upload a custom app](https://github.com/integrations/microsoft-teams/raw/master/images/Uploadmanifest.png)" is not available

![image](https://user-images.githubusercontent.com/53936855/92027391-1a3ca400-ed80-11ea-989a-f50958a5a102.png)

[2020-09-09 12:43] ashokirla commented on #18
@KaustubhBadrike-GEP This could be because you organization has turned off ability to install custom app. You might have to contact your account admin for getting it installed.

But, I would recommend to wait for couple of days as we are about to release public preview of the app. After that you should be able to install the app from app store directly.

[2020-09-09 12:43] #17 closed

[2020-09-09 12:43] #16 closed

[2020-09-09 12:44] #13 closed

[2020-09-09 20:56] ashokirla commented on #9
We have now rolled out public preview of GitHub app to Teams app store. And we are closing private preview. Thanks everyone for your support.
For more details, checkout: https://github.com/integrations/microsoft-teams/blob/master/Readme.md

[2020-09-10 07:06] #18 closed

[2020-09-10 11:06] adminop-tech opened #21 "Testing"

[2020-09-10 11:13] adminop-tech opened #22 "Example Testing"

[2020-09-10 19:17] wilfredmat opened #25 "Subscribing to releases or tags"
WOuld love to be able to subscribe to tags or releases

[2020-09-11 03:56] JosephTLyons opened #26 "Unable to Do Anything Other Than Sign In and Sign Out"
I've installed the extension into Teams and have linked my GitHub account to it, but I can't seem to do anything besides sign in and sign out.  I followed the examples for subscribing by using `@github subscribe...`, but it throws an error message: "Invalid command! Need some help with @github."  I then tried just `subscribe` and it stated "Sorry, this command is currently not supported in persona

[2020-09-11 05:26] SonicGD commented on #26
I think you are doing this in app chat. But to subscribe you should do it in team channel.

[2020-09-11 05:31] ashokirla commented on #26
@JosephTLyons: Yes, you can subscribe and perform all the actions in your channel. Today Personal app experience only supports signin and signout. Very soon, the rest of the commands will be supported.

[2020-09-11 05:36] ashokirla commented on #8
@masterzen We have rolled out our public beta. Your insights are very helpful. We have ensured our notification post experience is as crisp as possible.

Closing this issue for now. Please keep sharing feedback.

[2020-09-11 05:36] #8 closed

[2020-09-11 05:36] #9 closed

[2020-09-11 05:39] ashokirla commented on #10
We have rolled out our Public Beta. We will start work for supporting schedule reminders next month.

[2020-09-11 05:46] sriram275 opened #27 "GitHub Enterprise Server support?"
How about supporting signin with GitHub Enterprise Server?

[2020-09-11 06:39] SonicGD commented on #27
I think there is another app for this - https://teams.microsoft.com/l/app/ca319335-400e-43c1-bca4-b6c745ce3093?source=store-copy-link

[2020-09-11 07:28] laurentkempe opened #28 "Unfurl GitHub links is not working"
First, I would like to say that I ❤️ this new integration 👍 to the team that brought it 👏

Everything is working for us except the Unfurl GitHub links.
I am signed in into my Github account, I subscribed to two repos in one Team channel and the Microsoft Teams app is installed in the Github repo and allowed for our repos.
When in the chat someone past a link to a pull request, nothing happen!

How

[2020-09-11 08:50] ashokirla commented on #28
Thanks for the feedback @laurentkempe. For the url to unfurl, all you need is to signin and allow access to Teams app in GitHub for the repos. As you said you have done it all, we will get back to you if we need further diagnostics to resolve this issue.

Meanwhile can you try restarting teams. And also try sharing the url in a Team channel where our GitHub app is not installed. Also do you have a

[2020-09-11 08:51] gauravsaralMs commented on #28
@laurentkempe : thanks a lot for trying it out.
we will be happy to help with the unfurl issue.

just for clarity, you are posting the pull request link in a private chat or in a channel?

[2020-09-11 08:52] ashokirla commented on #27
@sriram275 Yes, we have plans to support GHES as well. But, we will only pick it up early next year.

[2020-09-11 08:53] ashokirla commented on #25
Thanks for sharing the interest. We have more features to come like Schedule reminders, releases, personal app experience etc. We will be working on it in next quarter.

[2020-09-11 08:55] ashokirla commented on #22
@adminop-tech Do let me know if you have any questions. Yes, we are the product team for GitHub app for Microsoft teams :)

[2020-09-11 08:55] #22 closed

[2020-09-11 08:56] ashokirla commented on #12
@chkwon Our [public beta ](https://github.blog/2020-09-10-announcing-the-github-integration-with-microsoft-teams/)is now available. Please try it out and share your feedback.

[2020-09-11 09:02] ashokirla commented on #21
Closing this issue. Assuming it was created for some dry run purpose.

[2020-09-11 09:02] #21 closed

[2020-09-11 09:05] DivyankaM commented on #28
Hi @laurentkempe,

Could you please help us with some information so that we can debug this and make this work for you -

1. Make sure that you have app installed for you personally as well in case you want to have the unfurling working for you in chat.
2. Can you try posting the link in a teams channel where our app is installed for you and tell us if it works there?
3. Make sure the GitHub app i

[2020-09-11 09:10] ashokirla commented on #26
We have fixed the documentation to mention about Personal app scope. Thanks a lot for your support.

[2020-09-11 09:10] #26 closed

[2020-09-11 09:11] #12 closed

[2020-09-11 09:54] holljen commented on #28
I have a similar issue. Unfurling works for public repo's but not for private repos.

[2020-09-11 10:24] DivyankaM commented on #28
Hi @holljen

Could you please check that the GitHub app is installed in the repository in which that link is present which you want to unfurl. Please let me know in case you still face any issues. Thanks.

[2020-09-11 10:33] jjaimon opened #30 "How do we get started?"
This is a query than an issue itself. [Readme.md](https://github.com/integrations/microsoft-teams/blob/master/Readme.md) states how to install Github(Preview) integration in Teams and how to connect that with your GitHub account.    How do we use this after the setup process?  As the document suggest, app channel supports only SignIn and SignOut.

**Get Started** section states that `You can subsc

[2020-09-11 10:38] holljen commented on #28
I have installed it globally for our organisation (for all repos). Do I need to go in and add it separately for each repo in addition?

[2020-09-11 10:56] holljen commented on #28
Update: Seems to be a crash with the other (old) GitHub app. Investigating.

[2020-09-11 11:13] DivyankaM commented on #28
@holljen Sure Thanks for the update. You need to have only one GitHub app installed for you for unfurling to work properly. I would suggest you to uninstall all the GitHub apps installed for you and re-install our GitHub app. Please let me know if this works for you :)

[2020-09-11 11:14] DivyankaM commented on #28
FYI, It is enough to install github app once for all repos. Installing the app separately for each repo is not required.

[2020-09-11 11:21] holljen commented on #28
Yes it works now. It is just ultra-confusing because we have tons of teams and you have to uninstall it from each team individually. If the old one is left in just one place it bugs out and it is hard to understand why. We also had to chat with your integration after removing all the old integrations to make unfurling work.

[2020-09-11 11:38] DivyankaM commented on #28
Yes @holljen We can understand your concern. This is a limitation from Teams platform end. Thanks for understanding. I am glad it works for you now :)  cc: @ashokirla

[2020-09-11 12:01] laurentkempe commented on #28
Thanks @ashokirla and @DivyankaM to get back so quickly!

I uninstalled the Teams addons and the Apps from Github repo. I uninstalled the old Github app from the Teams, I have access to.
I reinstalled the whole and no chance! Lucky you @holljen

[2020-09-11 12:06] DivyankaM commented on #28
Hey @laurentkempe Could you please try posting a public url , say 'https://github.com/GitHub' on your channel where GitHub app is installed and let me know what response do you get? Please wait for few seconds before posting the url. Thanks.

[2020-09-11 12:30] laurentkempe commented on #28
I did wait 1 minute! It doesn't work @DivyankaM
I just thought we are using two factor authentication, could that be a problem?

![image](https://user-images.githubusercontent.com/272612/92925719-33f28100-f43b-11ea-8fe3-2a76f3d737bb.png)

[2020-09-11 12:32] whereismyjetpack opened #31 "Unable to @mention the teams user"
In a team, if i type `@github subscribe repo` nothing happens,

If I type `@` and arrow down to the Github (preview) user, a new issue modal pops up. I'm unable to interact with the user in my team..

![ezgif com-optimize](https://user-images.githubusercontent.com/3694886/92925969-553a7980-f409-11ea-808d-79c194e4f2ec.gif)

[2020-09-11 12:46] ashokirla commented on #28
@holljen We understand. We are following up with Teams platform to figure out any alternate solution. For now we will update the documentation to make it clear.

[2020-09-11 12:46] ashokirla commented on #28
@laurentkempe Are you sure there is no other 3rd party app installed in any channels or in personal scope. Can we setup a call so that we can look into your setup.

[2020-09-11 14:09] RedaAouad opened #32 "Notify for commits on branches other than the default one"
Hi,

All is in the title!
Any expected date for it?

[2020-09-11 14:55] laurentkempe commented on #28
@ashokirla I just uninstalled everything again, double check again the 3rd party app, I could find that I had a webhook connector in the channel which I wanted to add the app to, which I also removed. I restarted Teams, reinstalled all and still not workin!
So, yeah having a call would be fantastic!

[2020-09-11 15:04] laurentkempe opened #33 "Checks report"
Hey, again thanks for this integration which will ease some work in my team 👍 👏

I would like to know if you have some plan to add the Github Checks as something that would be reported in Teams?
For example, we have our CI build which is one check, and it would be fantastic to see it in Teams!

![image](https://user-images.githubusercontent.com/272612/92941257-6eb2e400-f450-11ea-9bc8-4bd8182b1a9d.

[2020-09-11 16:28] zhuberty commented on #32
I am also experiencing this issue exactly as stated.

[2020-09-11 16:47] ashokirla commented on #28
@laurentkempe Sure, I will reach out to you over email. We can schedule sometime next week.

[2020-09-11 16:59] holljen opened #34 "Option for condensed notifications"
We have a (rather long) template for issues and PR'r. This makes notifications take up a lot of space, half a screen on my laptop. In practice this makes the channel unreadable.

It would be nice if it was possible to turn on some option to only display the "subject" of the notifications.

If it was possible to have some sort of hide/show option for the rest of the PR, ticket etc. that would be ev

[2020-09-11 17:02] holljen opened #35 "Make notifications types stand out better"
The notifications for PR, issue etc. are very similar visually. To make it easy to navigate a channel with a lot of notifications it would be nice if they were easier to distinguish for example by having some graphical banner that is different for each notification type.

[2020-09-11 17:26] holljen opened #36 "Personal notification stream with filter for notifications I am invested in"
I have a manager role in my company and I do not have time to follow all PR's, issues etc. However, I do spend time on the ones I consider important and I would like to follow these.

Therefore it would be nice if it was possible to have a personal notification stream where in addition to the current subscription options it is possible to filter on issues, tickets etc where I am invested in some w

[2020-09-11 17:32] holljen opened #37 "Auto "nagging" system for stale PR's"
We have a high volume PR environment and we spend considerable time going through PR's that are becoming stale and need attention. It'd be nice if it was possible to add some sort of auto nagging for such PR's. (For example if nothing happened in three working days...)

[2020-09-11 17:53] holljen commented on #31
@github also does nothing for me also, I need to use @github (preview).

I also had the issue you describe. I solved it by clicking the "right" (opposite of left) button on the popup instead of clicking it with the mouse. After that it worked similar to what you expect (at least it did for me).

[2020-09-11 18:24] whereismyjetpack commented on #31
interesting when i type @github (preview) <space> the modal still pops up. @github (p then pushing the right arrow does nothing. I've tried with both the os x client, and the web client. If i type out @github (preview) and then manually enter a command it sends fine, but teams doesn't recognize @GitHub (Preview) as a user, and just shows up as plain text in the team chat.

[2020-09-11 18:41] holljen commented on #31
Hmm... bizarre.. I have the behaviour that you describe in the personal conversation scope, but not in the channels. I am certain that I solved it with this right button solution but I can't replicate that any longer. In the personal conversation scope you of course do not have to prefix with @github.

[2020-09-11 19:15] whereismyjetpack commented on #31
oddly enough, after one of my teamates interacts with the github user, i can! then in a new channel the same things happened.. so i'm wondering if there's something weirdo going on with my github, or teams account.

[2020-09-11 19:25] ashokirla commented on #37
@holljen Thanks for sharing the feedback. We are working on schedule reminders which should solve this problem to some extend.
However we will also explore any other possible ways to nudge reviewers for stale PRs.

Thanks for your support and please keep sharing feedback.

[2020-09-11 19:26] JosephTLyons commented on #26
Thanks, I'll give it a shot.

[2020-09-11 19:27] ashokirla commented on #36
Yes, we have plans to expand our personal app scope. We will definitely consider your inputs.

[2020-09-11 19:28] ashokirla commented on #35
Thanks for the feedback. We will keep track of this request.

[2020-09-11 19:33] ashokirla commented on #34
For long notification cards, Teams platform already has inbuilt wrapping experience. So if any card is beyond 6-7 lines, it should get wrapped. Is that not helping in your case.

[2020-09-11 19:34] ashokirla commented on #33
@laurentkempe It is already supported. After you subscribe to repo, any PR notification card will also report check status.

[2020-09-11 19:36] ashokirla commented on #32
Hi @RedaAouad , @zhuberty Thanks for sharing your feedback. Commits for all/any branch is in our backlog. We will work on it next quarter.

[2020-09-11 19:38] holljen commented on #34
How is that supposed to look? Most of my cards are more than 6-7 lines and there is no wrapping (collapsing) of that. Do I have to turn that on somewhere?

[2020-09-11 19:44] ashokirla commented on #31
It is a Teams platform limitation that you cannot type @github command and run it directly. Teams expect you to select the bot to run the comment. The steps for running any bot command in Teams is as follows:
1. Start typing @ github and automatically the list of bots will show up.
2. You can click on tab to select the bot (GitHub (Preview)) or use mouse click.
3. Then you can either type the rest

[2020-09-11 19:45] holljen commented on #34
![Screenshot 2020-09-11 at 21 44 12](https://user-images.githubusercontent.com/11437018/92966581-17c10500-f478-11ea-9ae8-bf455c202f1e.png)
Just to show you what my channel looks like....

[2020-09-11 19:53] whereismyjetpack commented on #31
@ashokirla  thanks for the feedback, the problem i'm seeing is that when i click, or tab i don't see those commands; i only see a "create new issue" modal pop-up

[2020-09-11 20:05] ashokirla commented on #30
@jjaimon Thanks for the feedback. We will try to be a bit more clear in the documentation. To answer your question:
To start with, when you acquire the GitHub (Preview) app from Team app store, you need to choose which channel(s) you want to install the app to.
- You can go to the channel where the app is installed and start subscribing to your repos.
- If you are not signed in, it will prompt to

[2020-09-11 20:06] holljen commented on #31
I have the exact same (sometimes)

[2020-09-11 20:07] ashokirla commented on #31
That is weird. Probably something to do with your Teams setup. Can you try restarting your teams or check with any of your colleagues if they are facing the same issue on a consistent basis.

[2020-09-11 20:16] ashokirla commented on #34
Okay, we will check with the platform team. Ideally, it should wrap and say see more.

[2020-09-11 20:40] whereismyjetpack commented on #31
Looks like some combination of uninstalling, restarting, and reinstalling fixed it in this channel.

[2020-09-11 21:32] #33 closed

[2020-09-11 22:14] davetapley commented on #31
Same issue here, MacOS Mojave:
`You have Microsoft Teams Version 1.3.00.18164. It was last updated on 7/22/20`.

---

Side note: I had the 'old' extension ([this one](https://techcommunity.microsoft.com/t5/microsoft-teams-blog/github-code-better-together-with-github-and-microsoft-teams/ba-p/659444)) installed, I've uninstalled it and restarted Teams, but it still still shows up in autocomplete:

<

[2020-09-12 04:08] jjaimon commented on #30
@ashokirla thanks for the details.  I noticed the app is created by Microsoft Corporation.  I read in your blog that it is created by GitHub, so was wondering if I'm using the right one.
I was just `Add`ing the app. I get an option to `Add to a team` if I click on the dropdown and should have selected that.

![image](https://user-images.githubusercontent.com/1941596/92986559-81253000-f4d9-11ea-87f

[2020-09-12 04:08] #30 closed

[2020-09-12 04:55] ashokirla commented on #31
@davetapley Can you also check if the old GitHub app is present in the personal scope or part of message extension.

[2020-09-12 05:02] ashokirla commented on #30
@jjaimon The app is built and maintained by GitHub ChatOps team. It is published as an internal Microsoft Corporation app. This means you don't need to get additional approvals from your organizations to install this app. We are also getting M365 compliance attestation done. This means our GitHub app is a fully trusted and compliant app.

[2020-09-12 08:59] klctrl commented on #27
@SonicGD Your referred app only offers notifications but lacks all the nice features of a deeper integration that this new app is about. (Wouldn't be surprised if this new app will at some point replace the one you mention above.)

[2020-09-12 21:00] JimGBritt opened #38 "Integration with Azure DevOps"
It would be great to have the ability to integrate Teams with Azure DevOps similar to how you've integrated GitHub with Teams.

[2020-09-13 13:57] ashokirla commented on #38
@JimGBritt We already have integrations for Azure DevOps with Teams.
https://docs.microsoft.com/en-us/azure/devops/pipelines/integrations/microsoft-teams?view=azure-devops
https://docs.microsoft.com/en-us/azure/devops/repos/integrations/repos-teams?view=azure-devops
https://docs.microsoft.com/en-us/azure/devops/boards/integrations/boards-teams?view=azure-devops

[2020-09-13 15:44] JimGBritt commented on #38
Excellent I will check it out. You can likely close this issue out. Thank you!

[2020-09-13 16:01] #38 closed

[2020-09-15 11:00] antondimitrov opened #39 "Posting to MS Teams for "releases""
We often have to communicate the availability of a new release/hotfix to a group of stakeholders.

It would be very handy to offer a `subscription`  to a `release` that allows you to configure messages to a Teams channel where users get notified about a new release of `Product X` being available as well as details of the description of that release as they are in GithHub

[2020-09-15 12:45] mmerdes opened #40 "Please support GitHub Actions support"
Feedback on the state of the build would be highly appreciated,
especially notifications of failed builds.

[2020-09-15 12:51] ashokirla commented on #39
@antondimitrov Yes, notifications for releases is in our backlog. We will work be working on it in next quarter.

[2020-09-15 12:52] ashokirla commented on #40
@mmerdes Thanks for your feedback. Yes, support for GitHub Actions is in our Roadmap. We will work on it early next year.

[2020-09-15 15:08] antondimitrov opened #41 "Support for rendered content in comment on MS Teams"
Currently the content in the message posted to MS Teams is directly shown `as-is` in the message.

It would be great to get the contenct from GitHub description rendered in the same manner as it is in GitHub also in the Teams message.
- support for rendering MD
- support for rendering HTML

Here is an example of the current situation with HTML
![image](https://user-images.githubusercontent.com/125

[2020-09-15 18:12] ashokirla commented on #41
@antondimitrov Thanks for the feedback. This is a limitation in Microsoft Teams. We are following up with the platform team for the same. The next version of adaptive cards 1.3 should have most of this support. We will adopt to the new version once it is available.

[2020-09-15 18:19] ashokirla commented on #31
@davetapley Are you still facing the issue. Can you try uninstalling the app, restart the teams and re-install it.

[2020-09-15 18:22] ashokirla commented on #34
@DivyankaM Can you look into this issue.

[2020-09-15 19:40] mcg commented on #31
Having similar issues here. Have installed and reinstalled the Integration. The bot shows up in a channel but interaction with it don't do anything.The bot doesn't respond.

[2020-09-15 21:03] brettcurtis commented on #31
@davetapley - were you able to remove the old one? I disabled it everywhere I know of and it still pops up!

[2020-09-15 21:06] brettcurtis commented on #31
ohh jeesh, just found it under apps in the top level team... sorry..

[2020-09-16 06:25] VincentLiu1 commented on #31
**This may be helpful:**
I had the same issue. I then open "Manage Teams" for my team and went to the "Apps" tab. I didn't find the "GitHub (Preview)" from the list. So I just went to "More apps" from there and installed this app again. Now it works for me.

[2020-09-16 12:32] glopesdev opened #42 "Clarify the relationship between this GitHub integration and the Teams GitHub tab"
It seems these two are related somehow (maybe even the same app), but the relationship between both is not very clear. Specifically, it would be fundamental to understand the relationship between the `subscribe` command and adding a tab pointing to the repository.

[2020-09-16 12:34] glopesdev opened #43 "Unable to use subscribe command"
I have used the syntax `@github subscribe/{owner}/{repository-name}` and I get no reply at all from the bot. Is the syntax correct?

The README of this repository seems to suggest the command is separated by a space, rather than a forward slash, but I get no response either way.

[2020-09-16 13:03] glopesdev commented on #43
Ok, it seems like after restarting the Teams app I can now get a subscribe reply from the bot. However, I now get this message "Either repository name does not exists or you are not the owner of the repository." although I have granted permission to the GitHub bot to access this organization.

The repository in question is private. Is there anything else that needs to be done to subscribe to the r

[2020-09-16 13:42] glopesdev commented on #43
It looks like the OAuth authorization for the tab is different from the OAuth authorization from the bot. I'm now able to configure the tab to access private repositories by granting permissions to the tab app. I'm guessing the same applies to the subscribe command, so this should be fine now.

[2020-09-16 13:42] #43 closed

[2020-09-16 13:43] glopesdev commented on #42
After some exploration, it is now clear that the bot and the tab are two separate applications, each with its own OAuth token that needs to be authorized and managed independently for each organization on GitHub. It would still be worth it to update the README file and/or blog posts to clarify this relationship, in my opinion.

[2020-09-16 22:26] jepetty opened #44 "Unable to signin?"
Hi! Super excited to use this plugin, but for some reason I can't sign in :/ I've tried running the `@github signin` command from both the chat with the GitHub bot (screenshot included) and in another Teams channel. From within the chat, the bot responds that the command was invalid and then suggests I try the command `signin`.

![image](https://user-images.githubusercontent.com/10744199/93398732-

[2020-09-17 04:50] ashokirla commented on #44
@jepetty GitHub app can be installed for your team/channel as well as into you personal scope. What you see is personal chat.
In personal chat, you don't have to type @github. As the help response suggests, just run `signin`. In Personal chat, today, we only support signin and signout. More functionalities will be added in future.

You can also install the app for your team/channel by clicking on

[2020-09-17 04:52] ashokirla commented on #42
@glopesdev, we dont have tabs support in our new GitHub (Preview) app built by GitHub. You might be referring to another old GitHub integration built by TCS.

[2020-09-17 05:02] ashokirla commented on #28
Updating the issue for the recod:
We had a call with customer. The URL unfurling is not working for any url and for any other apps as well. Customer got the message policy to 'Allow URL unfurl' enabled by the admin. Customer will reinstall the app and restart Teams and try it out.

[2020-09-17 06:28] gauravsaralMs commented on #34
we have an issue opened with team platform for this:
https://github.com/microsoft/AdaptiveCards/issues/4583

[2020-09-17 06:34] gauravsaralMs commented on #31
following up with MsTeams team on this.

[2020-09-17 08:08] glopesdev commented on #42
@ashokirla yes, this is now clear to me. However, being a newcomer to Teams it was not clear these were separate at install time, as both integrations share the same icon either going through tabs or apps. I ended up installing both without realizing they were different things until I had the need to grant OAuth authentication for some private repos.

The TCS integration is still really useful to

[2020-09-17 08:27] olivermt opened #45 "Fully utilize card updating"
It is a bit counter-intuitive that updates to a PR etc makes a reply in the thread instead of updating the card. It also means that actions on a PR makes the reply thread VERY noisy, when most PR updates are mostly relevant as they are and not necessarily in the context of all its history.

Github integration on slack feels more 'interactive' due to utilizing updates instead of thread replies and

[2020-09-17 18:59] JulianTonti opened #46 "Track with the GitHub CLI"
The GitHub CLI could be directly wrapped by the Teams plugin, or used as a shopping list to pick out specific features for integration:

https://cli.github.com/manual/

If a feature is chosen for integration, aim to keep the syntax as close to the CLI syntax as possible.

[2020-09-17 19:36] davetapley commented on #31
@ashokirla

I don't know what "the personal scope or part of message extension" is? 😑

Yep, still present, I have tried reinstalling.

---

@brettcurtis  @VincentLiu1 this was a good find!

⬆️  I did this and the old app was still there 😱
Unfortunately removing (and re-install the new one) still didn't fix the problem.

[2020-09-17 22:52] ppremk opened #47 "Unable to use "@github subscribe" command when another GitHub App is installed in MS Teams"
### TLDR;

Having another installed GitHub App by a 3rd party developer with the same name, does not allow for subscribing repo notifications

### Details
This could be a potential bug. I had looked at the closed and open issues and was not able to see a previous note on this behaviour of the app. Apologies if this is a known issue.

**Context (Steps to reproduce):**
1. Installed the wrong `GitHub

[2020-09-18 07:36] ashokirla commented on #47
@ppremk Firstly, can you check if you have uninstalled the old GitHub app from the channel, personal app (on sidebar) and compose extension (bottom of the message box ...). This could be the reason why you are seeing old github bot when you type @ github.
In Teams, once you type @ github, you need to select the GitHub (Preview) bot from contextual popup before running any command. This is the Team

[2020-09-18 07:38] ashokirla commented on #46
@JulianTonti This is a great suggestion. We are currently working on GA (planned for end of the year) and CLI is not part of the plan. But we will definitely look into it early next year. We will reachout to you when we plan to work on this.

Thanks for your support and please keep sharing your feedback and suggestions to make our app better.

[2020-09-18 07:54] ashokirla commented on #45
@olivermt Thanks for your feedback. The main goal of the GitHub integration with teams is to promote collaboration within the teams and increase GitHub engagement. Threading is one of such feature that can improve collaboration where any new updates are added as a reply and it enables team to have conversations around it. This infact reduces noise caused by too many posts which is one of the feedb

[2020-09-18 08:00] ashokirla commented on #42
@glopesdev We are following up with the Teams ecosystem to rename the old TCS app to avoid confusion. We are currently working on GA features and we don't have plans to introduce Tabs as part of it. Post GA, we will evaluate the possibility of extending our support for Project management.

Once again thanks for your support. Please keeping sharing your feedback to make our app better.

For us to t

[2020-09-18 08:05] ashokirla commented on #31
@davetapley , we will help you out with this issue. Can you lets us know if we can have a call sometime next week. We will look into your setup and see how to get it fixed.

[2020-09-18 08:10] olivermt commented on #45
Hi, I can dig that reasoning.

Just to be clear, I meant adaptive cards so that the **same card** is updated when something happens.
Maybe commits look nicer as thread comments, but for 'simple' things like a person being assigned it seems to make more sense to just update the existing card is what I meant.

To use thread replies on the card for all messaging is a great idea, flooding the channel

[2020-09-18 08:45] ashokirla commented on #45
@olivermt Yes, we only add actions like comments, reviews and open/close/merge as replies to parent cards.
Updates to assignees, reviewers, labels, checks etc shown inplace on the same card. We dont have separate replies for them.

Please keep sharing your feedback to make our app better. I am happy to setup a call and discuss in detail if you are interested.

[2020-09-18 09:01] ashokirla commented on #10
Keeping this issue open as we will be working on Schedule reminders this quarter.

[2020-09-18 09:03] ashokirla commented on #11
This will be part of personal app experience we will be working on this quarter. Keeping this issue open for us to track.

[2020-09-18 09:44] ppremk commented on #47
@ashokirla

Thank you for the fast response 🙇

It is uninstalled now. However for scenarios for having both the Apps installed, how are we going to differentiate this since it shows up as the same name? Now the differentiator is within the (Preview) brackets 🙂

TIL. Perhaps having this as a note in the [documentation](https://github.blog/2020-09-10-announcing-the-github-integration-with-microsoft-

[2020-09-22 07:53] ajitjha393 opened #48 "Button Rendering Template not rendered in the Browser"
Its show {{::buttonText }} at the navbar
I am able to click and it do gets redirected to the teams activity page
The only problem is There is no styling or actual text on the button

![image](https://user-images.githubusercontent.com/42679346/93856323-7edf8480-fcd6-11ea-9131-a9fcd74a5c07.png)

[2020-09-22 09:46] ashokirla commented on #48
@gauravsaralMs Can you look into this query

[2020-09-22 09:49] ashokirla commented on #47
The old app (TCS) name is now change to `GitHub (Legacy)` to avoid confusion.

We will update documentation to make it clear about running comments in Teams.

[2020-09-22 09:49] #47 closed

[2020-09-23 03:45] gauravsaralMs commented on #48
@ajitjha393 : can you please explain more on this issue?

@ashokirla : can you add a standard issue template on this repo?
see this for example: https://github.com/microsoft/AdaptiveCards/issues/new/choose

[2020-09-23 04:04] ajitjha393 commented on #48
@gauravsaralMs
I am currently using Ms teams for attending my college Lectures
So while using Ms teams in Browser , there are these different Sections in Navbar like Chats , assignments , meetings and so on

SImilarly there is a **teams** tab where in we can see all of our created teams
So in that page , on the top instead of Showing **"Teams"** as the title ,it displays {{ ::buttonText }} templat

[2020-09-23 04:05] ajitjha393 commented on #48
I couldn't find Ms teams github repo
But came across this repo
so notified it here !

[2020-09-23 04:06] gauravsaralMs commented on #48
sure, thanks @ajitjha393 ..
@ashokirla can you work with partner team to get required attention on this issue?

[2020-09-23 04:28] ashokirla commented on #48
Informed the Partner team to look into this issue.

[2020-09-23 05:27] ashokirla commented on #44
Closing this issue for now.

[2020-09-23 05:27] #44 closed

[2020-09-23 20:47] orta opened #49 "Open Source?"
Hey folks, I know it's not quite the same thing, but the [slack bot for GitHub is OSS](https://github.com/integrations/slack) - it'd be great if this was too ❤️

[2020-09-24 00:49] bondz opened #50 "Add teams.github.com to githubstatus.com"
https://teams.github.com/teams/github/install is currently unavailable and it responds with _service unavailable_, it would help if it was added to https://githubstatus.com so we can easily check the status.

<img width="1280" alt="Screenshot 2020-09-24 at 01 45 59" src="https://user-images.githubusercontent.com/4683867/94088291-0d075800-fe08-11ea-83c7-6e1fba73a098.png">

[2020-09-24 00:52] bondz commented on #7
Wow! This should be in an easy to find place. In the readme for example.

I had this exact issue and I've been trying all day. Signing out and signing in fixed it 👍

[2020-09-24 01:07] bondz commented on #31
I had this issue and I had to install the app in the specific team.

![github](https://user-images.githubusercontent.com/4683867/94089254-9c156f80-fe0a-11ea-8f52-cae9b8364ff1.gif)

[2020-09-24 01:12] bondz commented on #49
This was addressed in https://github.com/integrations/microsoft-teams/issues/13#issuecomment-681918709

[2020-09-24 06:27] ajitjha393 commented on #48
The issue has been resolved now !

[2020-09-24 06:27] #48 closed

[2020-09-24 13:33] orta commented on #49
ace 👍🏻 - I'll keep this open, I looked for existing issues but not in the closed ones

[2020-09-24 18:50] ashokirla commented on #50
@bondz Can you please explain what you are trying to get from https://teams.github.com/teams/github/install

[2020-09-24 18:52] ashokirla commented on #31
@bondz yes, you need to install to specific team. When you click on just Add, it will only install personal chat bot where we only support signin and signout commands. And you dont need to use @ github when you are in personal chat. We will update the documentation to avoid this confusion.

[2020-09-24 20:00] bondz commented on #50
@ashokirla I clicked the Install app button from Teams after I tried to subscribe to a repository.

The complete URL is https://teams.github.com/teams/github/install/4xxxxx/token

[2020-09-25 09:08] markostar opened #52 "Feature request: Ping on my personal @-mention"
It would be awesome to be pinged on Teams for every new @-mention within my pre-specified Repos or orgs - providing a link, or a possibility to respond directly from Teams

Thank you
❤️ :octocat:

[2020-09-25 11:58] orta opened #53 "Strip HTML comments from preview texts"
**Is your feature request related to a problem? Please describe.**

I would like our PR previews to be more useful when people don't remove the PR template text:

![Screen Shot 2020-09-25 at 7 58 16 AM](https://user-images.githubusercontent.com/49038/94264389-9d2ac780-ff04-11ea-8a52-a5331d5dbd52.png)

**Describe the solution you'd like**

I think ahead of time the HTML comments should be stripped,

[2020-09-25 16:09] laurentkempe commented on #28
I tried again @ashokirla to install it and it doesn't work 😭

[2020-09-27 18:41] bondz commented on #53
Related #41

[2020-09-28 15:40] borgendorf commented on #32
Thanks for clarifying. I thought I had done something wrong. The majority of check-in work in my group is done in branches. As you build this feature, please make sure to **list the name of the branch in the card.** The previous integration didn't do that and it caused several instances of confusion. Thanks, and keep up the good work. It's already nicer than the previous legacy one.

[2020-09-28 18:32] ashokirla commented on #10
@ErikElkins we are currently working on Schedule reminders feature and we would like to share the experience with you and get your feedback. Can you let us know if it is possible to have a quick call.

[2020-09-28 18:33] ashokirla commented on #36
@holljen Hope you are doing good. We are currently working on GA features and we would like to sync up with you and get your feedback. Can you please let us know if it is possible to have a quick call.

[2020-09-28 22:14] ErikElkins commented on #10
@ashokirla ... absolutely! I'd love to give some early feedback.

I'm available on 9/30, 12pm CDT to 4pm CDT.

[2020-09-29 07:04] johnpage-agixis opened #54 "@github pops up the issue creation window without letting me type a command"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Github preview app
2. Sign in
3. Go to a channel
4. Type @github and see Github preview suggested
5. Click on the suggestion or use the tab key

**Expected behavior**
I expect to see **Github (Preview)** in the text entry box with the possibility to continue typing

[2020-09-29 09:23] ashokirla commented on #10
Great, can you please reachout to us at chatops@github.com so that I can block sometime.

[2020-09-29 09:26] ashokirla commented on #52
@markostar Yes, we are currently working on personal notifications feature. If you are interested, we would like to  share our plan and understand your requirements. Can you lets us know if it is possible to have a quick sync up.

[2020-09-30 03:49] gauravsaralMs commented on #54
Thanks for reporting the issue @johnpage-agixis .

can you please
1. share the screenshot of what are you seeing when you are trying to type `@github` ?  Do you get suggested commands?

2. can you make sure that when installing you are using the `add to a team` option
![image](https://user-images.githubusercontent.com/43203065/94641113-f8dac380-02fd-11eb-9696-f2b530c4362e.png)

[2020-09-30 12:09] orta opened #55 "Typo when announcing successful installation"
**To Reproduce**
Steps to reproduce the behavior:

Install the GitHub App:

![Screen Shot 2020-09-30 at 8 08 55 AM](https://user-images.githubusercontent.com/49038/94683101-f5dad580-02f3-11eb-8437-175795ac5aa0.png)

**Expected behavior**
Github -> GitHub

[2020-09-30 13:12] johnpage-agixis commented on #54
I didn't add it to a team, I'll try that.

This is what I get when I type @github
![image](https://user-images.githubusercontent.com/62235266/94689478-3572e300-032f-11eb-88ac-1fef61d20c39.png)

[2020-10-01 03:32] gauravsaralMs commented on #54
@johnpage-agixis : please let us know your experience post `add it to a team`.

I suspect that to be the issue and once that is determined we will work with teams platform team to evaluate improvement options.

[2020-10-01 03:33] gauravsaralMs commented on #55
Thanks a lot for reporting this

[2020-10-01 07:29] johnpage-agixis commented on #54
TLRD; It seems to work, and I hope using @github commands inside conversations will soon be possible

I added it to a team, then tried using @github commands in a conversation, but that didn't work.2
I added a canal to the team and I successfully subscribed to a repo therein.

[2020-10-01 08:42] smirowstanitzok opened #56 "Filtering with blacklist"
**Is your feature request related to a problem? Please describe.**
My goal is to subscribe to pull requests excluding bot request ("renovate" for dependency management).

**Describe the solution you'd like**
I would like to use the filter method to exclude a certain label. Currently it is only possible to include a label via the filter.

**Describe alternatives you've considered**
Alternatively, b

[2020-10-01 11:37] gauravsaralMs commented on #54
@ashokirla : is this something we need to fix with documentation? product is behaving as expected...

thanks @johnpage-agixis , we will try to improve the experience here.

[2020-10-01 11:56] johnpage-agixis commented on #54
Well, I had read that it only worked in Canals and not in chats, but in my team we rarely use canals, because switching between canals and chats requires a click or two too many - we just use group conversations.

So that was a source of confusion, but other than that, I have to admit it worked as announced.

[2020-10-02 06:52] masterzen opened #57 "Impossible to install in private channel"
**Describe the bug**
I have a Teams with a private channel. I can add the Github app to the teams, but only into a public channel, not the private channel I'd like the bot to be installed into.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the App store in Teams
2. Click on "Github (Preview)"
3. Click on "Add to a Team"
4. Enter the Team name, only the public channels are listed in t

[2020-10-02 06:54] administradoresavoristravelio opened #58 "Repository not found"
**Describe the bug**
No repository found with error: "Please check to make sure the spelling of the resource was correct and that you have access to the resource in GitHub".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a channel and type @github subscribe org/repo
2. See error "Please check to make sure the spelling of the resource was correct and that you have access to the resourc

[2020-10-03 17:18] holljen commented on #36
Sorry for the late reply, it was a busy week. I am free for a call whenever i am not sleeping CET 😀

[2020-10-05 03:41] gauravsaralMs commented on #58
@administradoresavoristravelio , can you please try @bondz suggestion?

[2020-10-05 03:45] gauravsaralMs commented on #57
@masterzen : you should be able to use the app in any channel once it is installed at the team level (general channel).
can you please give it a try?

[2020-10-05 07:09] masterzen commented on #57
@gauravsaralMs I did multiple times to no avail.

So I tried again, being team owner, I first created a private channel (invited only myself), and tried to `@github` to subscribe to a repository notifications:

<img width="1103" alt="Screenshot 2020-10-05 at 09 02 03" src="https://user-images.githubusercontent.com/20242/95049524-366a9280-06ea-11eb-8ea8-1722b58928f8.png">

It doesn't find the `@git

[2020-10-05 07:17] gauravsaralMs commented on #57
@masterzen : ok.. your analysis seems correct and this is due to teams platform limitation 😞

Quoting from [here](https://docs.microsoft.com/en-us/microsoftteams/private-channels#what-you-need-to-know-about-private-channels)
[code]

we will check with teams platform team to see when this support is coming.

cc: @ashokirla

[2020-10-05 07:44] #55 closed

[2020-10-05 07:44] gauravsaralMs commented on #55
@orta :  This should be fixed now, thanks a lot for reporting this issues.

[2020-10-05 07:46] gauravsaralMs commented on #57
given that this is a known limitation from teams side so this is more of a feature request.
cc: @ashokirla

[2020-10-05 07:57] masterzen commented on #57
@gauravsaralMs, thanks for the answer. Indeed this seems to be a limitation of private channels in MSTeams. Thank you for the prompt answer.

[2020-10-06 07:41] administradoresavoristravelio commented on #58
Hi. Thanks! After re-login it works.

[2020-10-06 07:41] #58 closed

[2020-10-06 21:11] sblomberg opened #59 "Issue opened/closed notifications posted to Teams sporadically"
**Describe the bug**
After successfully configuring GitHub -> Microsoft Teams (Public Preview) to a channel, the `issue` subscription works very sporadically. It seemed to work better after the initial installation, but less than half the time now (a week after install).

**To Reproduce**
Steps to reproduce the behavior:
1. Install GitHub (Preview) to organization
2. `signin` to connect GitHub acc

[2020-10-07 04:39] gauravsaralMs commented on #59
@sblomberg : just to confirm, from the same repository you are some times getting issue notification and some times not getting issue notification?

[2020-10-07 04:40] gauravsaralMs commented on #54
@johnpage-agixis : will it be fine if we can close this issue?

[2020-10-07 05:18] #54 closed

[2020-10-07 08:45] ikumi-rai opened #60 "I'd like to subscribe to comments on the issue and PR separately."
Thank you for developing a great application!
Comments are now tied to the thread, making it very easy to read.

Incidentally, I'd like to subscribe to issues and PRs on separate channels so that I don't miss important notifications.

![teams-feature-request](https://user-images.githubusercontent.com/41030318/95305811-759f0c00-08c1-11eb-9006-0f708fb77c1b.png)

As a current `comments` command subsc

[2020-10-07 15:40] sblomberg commented on #59
@gauravsaralMs Correct, this same repository and team is sometimes getting issue notifications and sometimes not.

[2020-10-07 20:28] ashokirla commented on #60
@ikumi-rai Thanks for the feedback. We will add this request to our backlog. Also, we are currently working on GA features and we would like to share our proposal and get your feedback. Can you please let us know if you are interested in having a quick call.

[2020-10-07 20:30] ashokirla commented on #56
Thanks for the feedback. We will consider this request during the next phase of improvements.

[2020-10-08 10:00] holljen commented on #34
Any progress on this? It makes the whole integration useless for us. We have disabled it until this gets sorted.

[2020-10-08 14:07] jonadaly commented on #52
This feature would be a massive improvement. PullPanda, which Github acquired last year, supported this by allowing admins to hook up slack usernames with github usernames.

Alternatively, the new Github/Slack integration also supports people being individually messaged when their review is requested - could the same feature be built here?

[2020-10-10 13:36] Deilan opened #61 "All the bot can do is to sign in and sign out"
**Describe the bug**
All the bot can do is to sign in and sign out

**To Reproduce**
Steps to reproduce the behavior:
1. Install bot personally or in team channel
2. Sign in
3. List available commands
4. Try to subscribe no notifications

**Expected behavior**
There's an option to subscribe to notifications

**Screenshots**
![image](https://user-images.githubusercontent.com/4777512/95656310-37e6f1

[2020-10-10 13:36] Deilan opened #62 "All the bot can do is to sign in and sign out"
**Describe the bug**
All the bot can do is to sign in and sign out

**To Reproduce**
Steps to reproduce the behavior:
1. Install bot personally or in team channel
2. Sign in
3. List available commands
4. Try to subscribe no notifications

**Expected behavior**
There's an option to subscribe to notifications

**Screenshots**
![image](https://user-images.githubusercontent.com/4777512/95656310-37e6f1

[2020-10-10 13:37] #62 closed

[2020-10-12 03:43] gauravsaralMs commented on #61
@Deilan : in the installation flow, can you try `add to team`.
bot supports more commands but only in teams/channel not in direct message.

[2020-10-12 08:31] kevkev300 opened #63 "Subscribe to a project"
Hey there,
In my team, we are using Github Projects a lot. Quite often, different teams work on different projects within the same repo. Here it gets messy when the bot notifies every time something on an issue of all the projects. We would love to have different Teams Channels (that we actually already have) and let the bot only push notifications into these channels when the issues are in the co

[2020-10-12 10:33] krzysztof-magosa opened #64 "Cannot subscribe to repository"
**Describe the bug**
Cannot subscribe to repository

**To Reproduce**
Steps to reproduce the behavior:
1. Add App to Teams channel
2. Type @github subscribe organisation/repository

**Expected behavior**
I expect integration to be subscribed to repository

**Actual behavior**
Could not find resource organisation/repository.
Please check to make sure the spelling of the resource was correct and tha

[2020-10-13 10:49] nisar-philips opened #65 "Teams screen sharing doesn't work for receivers when monitor display is set to portrait mode."
**Describe the bug**
A clear and concise description of what the bug is.
Teams screen sharing doesn't work for receivers when monitor display is set to portrait mode.

**To Reproduce**
Steps to reproduce the behavior:
0. Pre-requisite: Set monito display as portrait mode.
1. Go to Teams
2. Click on Screen Share
3. Error: receiver unable to see screen properly.

**Expected behavior**
A clear and co

[2020-10-13 11:03] gauravsaralMs commented on #64
@krzysztof-magosa , can you try these 2 things?
- can you try subscribe with url to repository
- if your repo is behind SSO then can you try to sign-out and sign-in again and giving SSO access in the flow?

[2020-10-13 11:56] gauravsaralMs commented on #65
👋 @nisar-philips : This is not looking something related to teams and github integration.
May be you are looking for https://microsoftteams.uservoice.com/

[2020-10-13 13:37] krzysztof-magosa commented on #64
Hi @gauravsaralMs.
Seems it was SSO thing.
Previously when I was logging into GitHub from Teams it didn't ask me for SSO.
Now it did, I authorised app to access organisation and successfully subscribed!
Thanks a lot.

[2020-10-13 13:37] #64 closed

[2020-10-14 03:59] gauravsaralMs commented on #61
@Deilan : gentle ping.

[2020-10-14 14:58] Deilan commented on #61
@gauravsaralMs Like that?

![image](https://user-images.githubusercontent.com/4777512/96006893-a396ca00-0e46-11eb-886b-be5052629f49.png)

Did it in a channel, where the bot was previously installed. Nothing happened.

If it's not what you expected me to do, then please elaborate what I need to do exactly.

[2020-10-14 15:11] Deilan commented on #61
@gauravsaralMs Ok, if I add it to a channel, it suggests me to create an issue. But welcome message describes a capability to subscribe to repository notifications:

If i send a message in a channel:

then nothing happens then:

![image](https://user-images.githubusercontent.com/4777512/96008823-9e3a7f00-0e48-11eb-9f8e-901a81b406a1.png)

[2020-10-15 09:23] gauravsaralMs commented on #65
please reopen if issue is with teams and github integration

[2020-10-15 09:23] #65 closed

[2020-10-15 09:25] gauravsaralMs commented on #61
@Deilan : this is definitely not expected...
looking at the output where you are not getting any response, it seems like app is not installed which is not true given that you have received a response.

can you check in the
teams -> manage -> apps
list and confirm you can see GitHub (Preview) in the list

[2020-10-16 10:40] moattarwork commented on #61
I have the same issue and I can see the GitHub app, but it doesn't do anything except
![image](https://user-images.githubusercontent.com/1560935/96248985-65172180-0fa4-11eb-8139-b3656237b221.png)

[2020-10-16 11:41] ashokirla commented on #63
@kevkev300 thanks for your feedback. We will look into request.

[2020-10-16 15:39] senstar-nross commented on #61
I have the same problems.  I installed the app.  I added it to the team.  I signed into GitHub.

![image](https://user-images.githubusercontent.com/68429847/96278892-0e114c80-0fa4-11eb-8ecf-3488e23b8618.png)

![image](https://user-images.githubusercontent.com/68429847/96279028-313bfc00-0fa4-11eb-9b5f-f02b69edea5d.png)

[2020-10-16 16:02] senstar-nross commented on #61
ok (PEBCAK) the answer is not the app and me just blindly cutting and pasting commands...

Make sure you hit enter or tab after typing @github otherwise the message doesn't get sent to the bot...*sigh*. Also make sure it goes to the right place, if you have a channel named github or the Github(Legacy) make sure you are sending it to Github(Preview)

![image](https://user-images.githubusercontent.c

[2020-10-19 13:50] moattarwork commented on #61
That worked for me too but it is a bit hard to figure out at the start.

[2020-10-19 13:56] senstar-nross commented on #61
Maybe the owners of github should talk to makers of Teams :wink:

[2020-10-19 14:59] Deilan commented on #61
In my case the problem was the same

[2020-10-20 05:19] gauravsaralMs commented on #61
thanks for the input @Deilan and @senstar-nross .
we will look into improving this experience.

[2020-10-21 12:54] joshkennedy opened #66 "Subscribe to PRs opened by specific people"
**Is your feature request related to a problem? Please describe.**
We work on a repo shared across several different squads who all have their own scope of work within the app. Subscribing to that repository, along with Dependabot PRs, causes my squad's Teams channel to get notifications for every PR opened, though not all are relevant to my squad.

**Describe the solution you'd like**
I'd like to

[2020-10-21 16:02] luh2 opened #67 "Cannot subscribe to repository"
Hi,

I installed the app in both Teams and GitHub. When I install it in GitHub on my personal space, it works well on public repositories.

But if I install it in an organization, that is enforcing SSO to our Azure AD tenant, and the repository is private or public, I get the message in Teams

     Could not find resource org/repository
     Please check to make sure the spelling of the resource w

[2020-10-21 16:06] gauravsaralMs commented on #67
can you try to sign-out and sing-in again ?
if app is installed on the org which is backed by SSO then in the signin flow you should see option to select org SSO .

[2020-10-21 16:13] luh2 commented on #67
Worked! It would be nice, if this could be documented somewhere or works out of the box. Irritating when trying it at first. Thanks.

[2020-10-21 16:13] #67 closed

[2020-10-22 14:59] luh2 opened #68 "Can't create issue"
Hi,

I might be simply too stupid, but I get

Either the Teams GitHub app is not installed on your repository or the repository doesn't exist. Install the app to proceed further.
Note: You need to be an organization owner to install the app.

when I try to create an issue, despite it being installed. Any idea on why that could be, or is that a bug? Happens both to a public repository and a private

[2020-10-22 15:02] ashokirla commented on #68
@luh2 Can you share a snapshot of the issue.

[2020-10-22 15:04] ashokirla commented on #66
@joshkennedy Thanks for the feedback. We will look into your request. Today, you can use labels to filter Issues and PRs. You can assign a label for PRs of each of the team/user and use that for filtering.

[2020-10-26 08:23] luh2 commented on #68
Ok, so here are the

[2020-10-26 08:27] luh2 commented on #68
The issue happens only on private repositories in SSO connected organizations.
- app is installed
- logged in and out again (as was needed with another SSO integration)
- then logging in, subscribing. both successful
![image](https://user-images.githubusercontent.com/2047083/97149610-4a476880-176d-11eb-8bd9-de6c2a78643a.png)
- then trying to create a test issue, this message pops up
![image](https

[2020-10-28 08:25] mbrookson commented on #56
This is something I'd really like as well. A prime example is being able to exclude automatic dependabot PRs which clog up the feed in Teams.

[2020-10-28 18:53] ashokirla commented on #68
@gauravsaralMs can you look into this issue.

[2020-10-28 22:18] pbiolsi commented on #61
Not clear from the thread here (even less so the description of the apps in the Teams app "store") but why would one opt for this (Preview) version compared to the (Enterprise) version? I want to be able to install this app to notify me only, via DMs not a Team/Channel when a commit has been made on a repo I manage. Is that just not possible like it is in the Slack integration?

[2020-10-29 03:33] gauravsaralMs commented on #68
@luh2 : just to be clear..
you are trying to create issue in the same repo which you have subscribed to?

and if possible can you also share the snapshot of what you are filling in the create issue dialog which pops up?

[2020-10-29 04:58] DivyankaM commented on #68
@luh2 : Could you please check the following-

i. The organization/repo combination exists.
ii. You have sufficient permissions to create the issue on that repo.
iii. GitHub app is installed on the concerned repo (You already confirmed on this, just mentioning for the checklist).

[2020-10-29 08:34] luh2 commented on #68
Thanks you two. I did check and all is good. It was a language barrier. I thought owner was meant to be the owner of the ticket, not the owner of the repository. That's why it worked on the personal one.

[2020-10-29 08:34] #68 closed

[2020-11-02 22:21] derek-burdick opened #69 "Selecting GitHub bot automatically launches creating issue module"
**Describe the bug**
When I type "@GitHub" and then click on the GitHub Bot name, it automatically launches the creating issue module.

**To Reproduce**
1. Type @GitHub
2. Click on Github bot name

**Expected behavior**
List of github actions should be shown

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS

[2020-11-02 22:36] derek-burdick commented on #69
Additional details. Bot had not yet been added to the channel.

Expected behavior: Bot should not have shown up in the list. OR Bot should have indicated it was not installed in the channel. OR Bot should be able to be installed in to the current channel when referenced.

[2020-11-03 18:06] ashokirla commented on #69
@gauravsaralMs to look into this issue.

[2020-11-03 18:10] gauravsaralMs commented on #69
This is expected from teams platform side, when extension has compose extension as well.

[2020-11-05 04:38] ashokirla commented on #69
@derek-burdick Can you please share the snapshots for github bot experience in channel and personal chat.

[2020-11-05 16:05] alannt777 commented on #69
Same issue here on Windows

[2020-11-06 08:57] simia opened #70 "Bot does not pick up approval on PR"
**Describe the bug**
Bot does not report that PR has been approved. It completely ignores review comments as well.
Normal comments under the PR are reported as expected.

**To Reproduce**
Make a PR. Make a Review of that PR with comments.

**Expected behavior**
I expect to get notifications about review comments and review outcome (reject/approve)

**Desktop (please complete the following informat

[2020-11-06 08:59] gauravsaralMs commented on #70
@simia : can you share if you see this same flow for PRs which were created post app installtion?

[2020-11-06 09:44] simia commented on #70
New PRs do not work as expected as well.
First and second (review) comment is ignored by the bot. Third one is posted on the teams.

![image](https://user-images.githubusercontent.com/7147203/98351301-cf0f6d80-201c-11eb-8a34-822d93b99654.png)

[2020-11-06 12:26] apurva1112 commented on #70
@simia Please confirm that you are subscribed to reviews to see review comments and approvals/rejections.
Please use `subscribe user/repo reviews` to subscribe to reviews for a repo.

See the below image for example
![image](https://user-images.githubusercontent.com/42499837/98365913-25020680-2059-11eb-9428-6853daa64f0b.png)

[2020-11-06 12:35] simia commented on #70
This resolved the issue. I was not subscribed for reviews. Assumed that subscribe user/repo subscribes for everything. Thank you!

[2020-11-08 01:08] Attila111111 opened #71 "1."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-11-09 02:25] #71 closed

[2020-11-09 11:39] ashokirla commented on #32
We have now shipped the support for filtering commits based on branches.
Refer to: https://github.com/integrations/microsoft-teams/blob/master/Readme.md#branch-filters-for-commits

[2020-11-09 11:39] #32 closed

[2020-11-09 14:40] gauravsaralMs commented on #70
@simia : if all looks good, can we resolve/close this issue?

[2020-11-09 21:08] #70 closed

[2020-11-11 00:15] jtrenaud1s opened #72 "Usage in private channels"
Hi, we're using teams for a class and my professor added the github preview app to our team, which has been split into groups, designated by private channels to work on a group project assignment through github. I noticed we are not able to add the github tab to the channel, nor use any of the app's commands. This would be a great feature to have, to avoid spamming people who aren't related to OUR

[2020-11-11 00:16] jtrenaud1s commented on #72
Edit: I just saw the original issue for this. Sorry!

[2020-11-11 00:16] #72 closed

[2020-11-11 20:11] peter-lillevold-4ss commented on #52
Yes, please! This is currently our number one missing feature. We would like to see:
* when a PR is assigned to a reviewer, the reviewer would be @'ed in Teams
* when GitHub users are mentioned in PR comments, the corresponding people would be @'ed in Teams

[2020-11-20 07:36] vishnuprakash9845 opened #73 "Profile image of the person is not consistently displayed while typing in Microsoft teams"
**Describe the bug**
**Other person profile image will be displayed when chatting in teams,

**Person B profile image will be displayed when Person A is chatting to me.****

_I am not in Group chart when I observed this bug, and there are no people with same name and profile image._

**To Reproduce**
Steps to reproduce the behavior:
1. Start your chart with Person B
2. Again switch your chart with

[2020-11-20 08:19] gauravsaralMs commented on #73
@vishnuprakash9845 : can you please confirm if this is something related to github and teams integration?

[2020-11-20 08:37] vishnuprakash9845 commented on #73
@gauravsaralMs  I am not sure on this github and teams integration. I am using Microsoft Teams for office purpose and observed this small bug kind of so raised the issue in this platform.

[2020-11-23 03:44] gauravsaralMs commented on #73
@vishnuprakash9845 : this repository is for tracking teams and github integration issues..
I will suggest you to use: https://microsoftteams.uservoice.com/forums/555103-public-preview

[2020-11-23 06:55] vishnuprakash9845 commented on #73
Thank you @gauravsaralMs , I have raised the issue on the forum.

[2020-11-23 07:31] gauravsaralMs commented on #73
Closing this one

[2020-11-23 07:31] #73 closed

[2020-11-26 15:51] ysbaddaden commented on #25
In addition to releases, I miss deployment statuses, too.

[2020-12-01 15:45] sblomberg commented on #59
It appears that the GitHub (Preview) integration is most often missing issue opened/closed notifications when those issues have been closed via another third-party integration using the GitHub API. When we open/close issues manually via the GitHub online interface, the GitHub (Preview) integration works as expected.

[2020-12-03 10:02] nrafal opened #74 "Comments to issues are not published in the teams conversations"
**Describe the bug**
I can subscribe to a private repository within organization, and I can see issues being created. GitHub bot also comments correctly when issue is closed or reopened. Unfortunately, no comments are added to a issue thread.

**To Reproduce**
I can reproduce it on every channel in different teams - whenever I add GitHub (Preview) I can see issues, bot no comments despite subscrib

[2020-12-03 14:26] sushmita-m commented on #74
@nrafal fixed this on prod, can you check now?

[2020-12-03 14:47] nrafal commented on #74
Working as advertised - thanks!

[2020-12-03 14:55] #74 closed

[2020-12-08 02:11] xqliu opened #75 "Dependentbot card shows html code, not rendered html content"
**Describe the bug**
Dependentbot card shows html code  rather than rendered html content in the card, can refer to the follow for a screenshot.

  * Actual behaviour: Dependentbot card shows html code  rather than rendered html content in the card
  * Expect behaviour: Ideally I think it should display similar as what shown on PR in github PR page.

* Teams card

![Screenshot 2020-12-08 at 10 08

[2020-12-08 02:19] xqliu commented on #75
Duplicate with #41

[2020-12-08 04:14] gauravsaralMs commented on #75
@xqliu : given that this is dup of https://github.com/integrations/microsoft-teams/issues/41, will it be fine if we close this issue?
I will recommend you to put your comment in #41 only, so that #41 can be prioritised..

[2020-12-08 04:16] xqliu commented on #75
Sure thanks.

[2020-12-08 04:16] #75 closed

[2020-12-10 02:19] estiveljr commented on #69
I have the same problem in windows10

[2020-12-10 16:18] kolesnykanton commented on #69
Same problem on Win10.
Impossible to subscribe or do anything except "Open Issue".
It doesn't matter you press on suggestion pop-up or just press space button. You cannot call any command except of "Open Issue".

[2020-12-10 20:41] Flatley-Cohesion opened #76 "User specific subscription options"
**Is your feature request related to a problem? Please describe.**
I have an issue when using this integration, it is difficult for me to parse through the list of PRs in my organization to find ones created by my team.

**Describe the solution you'd like**
I'd like to be able to subscribe a to certain user's events in my team's channel. As a product manager, I want to subscribe my team's "PR Revi

[2020-12-11 06:32] DavidKarlas commented on #49
I wanted to contribute fix for https://github.com/integrations/microsoft-teams/issues/60 but realized this is not open source yet, so 👍 for open sourcing.

[2020-12-12 20:40] PathogenDavid opened #77 "Subscribe to all repositories in a GitHub organization"
**Is your feature request related to a problem? Please describe.**

My GitHub organization has low enough activity that subscribing to every repo in the organization is reasonable, but it has a lot of (smaller) repos I'd like to subscribe to to help keep an eye on them. Manually subscribing to them all was fairly tedious, and in the future I'm worried I'd miss adding a new project by mistake.

**D

[2020-12-16 10:39] nicomollet commented on #57
I also wanted to add GitHub to a private channel.
Not all my team members want to see the notifications for GitHub.

[2020-12-18 21:29] carlo-quinonez opened #78 "Create links when using `Open Issue` Action"
We send alerts and other notifications to a Teams channel and have started using the "Create Issue" action to open up a GH issue from the conversation in Teams if needed. However, the new issue in GH doesn't have a link back to the Teams conversation so there's no context for the new issue.

It would be ideal if the plugin would do something like:
 - automatically add a link to the conversation it

[2020-12-22 07:35] sakibsadmanshajib commented on #69
![image](https://user-images.githubusercontent.com/36795793/102861752-4fb5ec00-445a-11eb-8d99-6fb8f2a5c9ff.png)
![image](https://user-images.githubusercontent.com/36795793/102861827-68260680-445a-11eb-8dec-741b4d5ed528.png)
![image](https://user-images.githubusercontent.com/36795793/102861870-75db8c00-445a-11eb-96ea-c47c56007773.png)

[2020-12-22 07:35] sakibsadmanshajib commented on #69
![image](https://user-images.githubusercontent.com/36795793/102861752-4fb5ec00-445a-11eb-8d99-6fb8f2a5c9ff.png)
![image](https://user-images.githubusercontent.com/36795793/102861827-68260680-445a-11eb-8dec-741b4d5ed528.png)
![image](https://user-images.githubusercontent.com/36795793/102861870-75db8c00-445a-11eb-96ea-c47c56007773.png)

[2020-12-22 11:03] nvandamme commented on #69
Same issue here, cannot invoke "@github ..." without triggering the Open Issue window.

[2021-01-04 17:49] blakemorgan opened #80 "Review Requested Notifications"
**Is your feature request related to a problem? Please describe.**
When I or a team I'm apart of is added as a reviewer as a PR, I don't get a notification in Teams on the review request.

**Describe the solution you'd like**
I'd like a notification (similar to the Slack App) saying my or my team's review has been requested.

**Describe alternatives you've considered**
I could use a different noti

[2021-01-05 15:26] Diego-MX opened #81 "Wrong icon in Audio settings"
**Description**
When setting up audio configuration in Kubuntu 20.10 using Plasma 5.19, I see Skype icon instead of MS-Teams icons.

**Steps to reproduce**
1. Open MS-Teams application.
2. Go to:
    a) System Settings > Audio > Applications.
    b) System Tray > Audio notifications.
3. See Skype icon instead of MS-Teams icon.

**Expected behavior**
I see MS-Teams icon since that's the application

[2021-01-06 07:42] gauravsaralMs commented on #81
This feedback should go to https://microsoftteams.uservoice.com/.

This repository is for tracking issues with respect to GitHub and teams integration.

[2021-01-06 07:42] #81 closed

[2021-01-09 01:26] mondash opened #82 "Unsubscribe to issues and PRs created myself"
**Is your feature request related to a problem? Please describe.**
No, just a minor annoyance.

**Describe the solution you'd like**
I would like to be able to unsubscribe to notifications from issues and pull request that I have created myself.

**Describe alternatives you've considered**
I looked through the documentation of the filters. It looks like this is not possible yet, so I don't think t

[2021-01-13 13:54] ohadle opened #83 "Subscribe in a channel"
**Is your feature request related to a problem? Please describe.**
I can't get updates from a repo in a channel, just for myself.

**Describe the solution you'd like**
I want to subscribe a channel to a repo.

**Describe alternatives you've considered**
Subscribing myself and asking everyone in the channel to subscribe themselves.

[2021-01-13 21:02] jwfuller commented on #77
@PathogenDavid I think `@github subscribe MyOrganization` will sub you to the entire org

[2021-01-13 21:45] PathogenDavid commented on #77
@jwfuller Thanks! That does indeed appear to work.

[2021-01-13 21:45] #77 closed

[2021-01-14 14:53] amorganPD commented on #83
This would be very useful and is what I was looking for when I installed the Microsoft Teams GitHub integration

[2021-01-18 18:00] reilem commented on #69
This is what it looks like for me in "personal chat" with the Github app:
https://user-images.githubusercontent.com/11155505/104948541-c09ae600-59bd-11eb-98f0-a8771b086301.mp4

Two "issues" I am having is:
1. I see two Github options (I have only installed the Github (Preview) not the legacy, so not sure where the second one is coming from)
2. Typing @github and pressing enter/pressing it opens up

[2021-01-19 14:05] jeremypoulter commented on #36
Just tagging on my 2p worth here as I have a similar requirement: just spent the last couple of hours tidying up my GitHub notifications so from my POV what would be ideal is to expose the GitHub notification feed in Teams, as in the Bell that is in the top/right of the GitHub page
![image](https://user-images.githubusercontent.com/6116992/105045102-6bafac00-5a5f-11eb-9b8a-ed2c9b1a604f.png)

[2021-01-25 15:41] joelhoisko commented on #39
Hi! Any news on this feature so far? We've also just established pipelines for using GitHub Releases with descriptions and would love to automatically notify about new releases to a Teams channel etc.

[2021-01-28 17:44] ColinKerr opened #84 "Ability to subscribe to GitHub Discussions"
We would like to be able to subscribe to discussions similar to how you can subscribe to issues

We currently use this app to pull issues into a teams channel so we can track them along with the rest of our conversations.  We'd like to be able to track discussions in the same way.

[2021-01-29 05:52] ashokirla commented on #84
@ColinKerr Thanks for the suggestion. Yes, support for discussions is in our radar. However, we are currently working on few other priority items like GH Actions and GHES/GHAE support. So we will look into this feature ask in Q3 CY21.

[2021-01-29 05:56] ashokirla commented on #83
@amorganPD @ohadle : We have introduced personal app support for GitHub app in Teams.
When you install the app in Teams with 'Add for me', you will see a personal GitHub app. Here you can subscribe to your repos and receive updates only for yourself.

[2021-01-29 05:58] ashokirla commented on #82
@mondash Thanks for your feedback. Yes, we have plans to provide advanced functionalities to fine tune notifications. We will look into it in the next quarter.

[2021-01-29 06:00] ashokirla commented on #80
@blakemorgan Thanks for the feedback. Yes, we have plans to support notifications for personal activity like Review requested etc.
We will work on it next quarter.

[2021-01-29 06:02] ashokirla commented on #78
@carlo-quinonez Thats a great input. We will add this to our backlog for improvements for Create issue updates. However, due to other priority items, we might not be able look into it at the moment.

[2021-01-29 06:05] ashokirla commented on #76
@Flatley-Cohesion Thanks for the feedback. We are currently working on Schedule reminders feature where you can get notifications when there are pending review requests on you or your team. This feature will be rolled out sometime in March.

We also have plans to support additional filtering options for your subscriptions. We will work on this support next quarter.

[2021-01-29 06:11] ashokirla commented on #69
Problem: Today, if you install the GitHub app in any one of the channels, the Compose extension is available everywhere and you will be able to invoke the bot with @ github.

Resolution: Teams platform should ensure the bot can be invoked only in the channels where it is installed. We are following up with Teams on this.

Workaround: If you install the GitHub app in the channel, you will start see

[2021-01-29 06:16] ashokirla commented on #61
@Deilan @moattarwork @pbiolsi Support for subscribing through personal app is now available in the GitHub (Preview) app.
https://github.com/integrations/microsoft-teams/blob/master/Readme.md#personal-app-experience

[2021-01-29 06:16] #61 closed

[2021-01-29 08:25] ohadle commented on #83
Thanks @ashokirla, this is what I'm currently doing, but I'm looking for something different - subscribe a channel so other teammates can see updates as well.

[2021-01-29 14:33] danlopez opened #85 "Notification for new repository creation"
**Is your feature request related to a problem? Please describe.**
I'm the organization owner for a large organization with clear repository creation standards. I'd like to know when new repos are created so I can reach out to developers and remind them about things like a clear README.md, license, etc.

**Describe the solution you'd like**
I'd like the able to subscribe to the repository:created

[2021-02-03 14:57] MagnusTim commented on #27
Hi,
Any news about when you will implement GHES support?

[2021-02-03 15:12] kolesnykanton commented on #69
But i do not want to create separate team or channel for 2 people :)

[2021-02-05 14:26] byrneh commented on #27
Hi,
On the Team app aside of things, I was informed the new Git Hub app currently labelled “Preview” will will go full GA (Q1 2021) and that will be the only app you need to access Git Hub Cloud (online) and Git Hub Enterprise Server (on premise) , the GitHub Enterprise App will be retired.”

Is there any update you can provide in the README or in this issues on
1. The date this App integration wi

[2021-02-08 13:59] Alexander-Betz opened #86 "Specify to only receive Dependabot pull requests"
Hello, a small question: Is it possible to get notifications in a Teams channel for only pull requests that are created by Github's Dependabot and not all pull requests?
I don't see an option in the documentation but maybe I'm missing it.

Thanks in advance for any answer.

[2021-02-08 16:21] asdkant-ey opened #87 "ability to subscribe to a (github) team"
**Is your feature request related to a problem? Please describe.**
the app says in the help:

But if I try to treat a team ( the one you find in `https://github.com/orgs/ORGNAME/teams/TEAMNAME/` ) as an "owner", it doesn't work.

**Describe the solution you'd like**
One of these:
* let the app treat (GH) teams as users
* add a new syntax to specify I want to subscribe to the activity in a (GH) tea

[2021-02-09 12:15] tomkerkhove commented on #42
We could like to have this as well since we are using more and more GitHub Issues, Milestones & Projects.

[2021-02-10 09:16] MNF opened #88 "Something went wrong! Without any further hints/instructions."
Our admin recently installed Teams  integration on our organization GitHub
And received message

I’ve installed app on my desktop Teams and tried

[13:16] Michael Freidgeim
subscribe MyOrganisation/MyRepository
​
[13:16] GitHub (Preview)
Connect to your GitHub account before subscribing to a repository
​
[13:16] GitHub (Preview)
Activity Id: 2a22c212-4f81-4558-9b8f-4675f507ce7a. Something went wro

[2021-02-10 09:38] gauravsaralMs commented on #88
@MNF thanks for reporting the issue.. yes we will look into how to enhance this experience.. in the mean time can you let us know if you are able to run the
`signin` command and `subscribe yourOrganization/YourRepository` separately ?

[2021-02-10 21:23] schoeps commented on #88
Maybe completely unrelated but I get the same error message (with a different Activity Id) when trying to connect my GitHub account.

[2021-02-11 03:37] gauravsaralMs commented on #88
@schoeps : yes this is a generic error handling.. basically when our system encounters something which it does not expect then we use this route.

can you share if you ran into this while running `signin` or something else?

[2021-02-11 06:29] schoeps commented on #88
Yes, the error pops up after clicking `signin` using the correct password and entering the two factor code. I am using the latest Teams client with the github (preview) app for macOS on Apple Silicon. I uninstalled the github (legacy) app.

[2021-02-11 06:31] gauravsaralMs commented on #88
@schoeps . can you please share the error message you are getting?
that activity id will help us track and root cause the issue effectively.

[2021-02-11 07:36] schoeps commented on #88
@gauravsaralMs Sure! Thanks. `Activity Id: 96e493d6-7d6d-42ba-82cd-f23924b3c2af. Something went wrong!`

[2021-02-11 07:52] gauravsaralMs commented on #88
Thanks for reporting this @schoeps , one of the partner services is rejecting the calls here..
but we have r[eached out to the partner team](https://github.com/microsoft/botbuilder-js/issues/3298) to check on what can be the root cause..

we will keep this thread updated.

cc: @snankani @ashokirla

[2021-02-11 07:56] schoeps commented on #88
@gauravsaralMs we are running an educational Teams installation in Germany which is hosted on German servers (due to German/European data protection laws) as far as I know. Maybe this helps.

[2021-02-11 07:59] gauravsaralMs commented on #88
thanks @schoeps , we will communicate the same to partner teams.. looking at the error message I think this is of help

[2021-02-11 20:43] nspyke commented on #88
Hi @gauravsaralMs
I'm seeing the same error after trying to sign in.
[code]

[2021-02-12 14:23] danlopez commented on #85
@ashokirla is this being considered at all?

[2021-02-15 09:17] cdelgadob commented on #40
Hi @ashokirla , how is this progressing?

I'd like to trigger actions (using a workflow_dispatch event) with a custom parameter set, is that something you are considering as well?

Thanks

[2021-02-15 10:03] qwerty87y opened #90 "dfdfdfd"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-15 10:03] qwerty87y commented on #90
dfdfdf

[2021-02-22 13:43] zied-cision commented on #57
+1

[2021-02-22 14:38] ashokirla commented on #90
@gauravsaralMs I am closing this issue as it seems to be a testing one.

[2021-02-22 14:38] #90 closed

[2021-02-24 16:36] DWies commented on #57
+2

[2021-02-25 04:58] pandametal opened #93 "Please Add the ability to reply to individual conversations on PC"
it will usefull

[2021-02-25 08:36] MattiPuolitaivalGKGAB commented on #88
Any updates to this?

I'm receiving the same error. Got it on my old Win10 laptop and now also with the new M1 MBP I recently received.

[2021-02-25 18:56] Attila111111 opened #94 "W"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-25 18:57] Attila111111 opened #95 "T"

[2021-02-25 18:58] #95 closed

[2021-02-25 18:58] Attila111111 opened #96 "Itergration"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-26 21:03] ashokirla commented on #96
No data.. Closing this issue.

[2021-02-26 21:03] #96 closed

[2021-02-26 21:03] #94 closed

[2021-02-26 21:05] ashokirla commented on #93
@pandametal Can you elaborate the scenario a bit. We already have ability to comment on PR and Issues.

[2021-02-26 21:07] ashokirla commented on #87
@asdkant-ey Thanks for the suggestions. We will look into it next quarter.

[2021-02-26 21:09] ashokirla commented on #86
If you have any labels added when a dependabot creates PRs, you can use the label to filter your notifications.
https://github.com/integrations/microsoft-teams/blob/master/Readme.md#label-filters-for-issues-and-prs

[2021-02-26 21:10] ashokirla commented on #85
@danlopez yes, Notifications for Repo operations is in our backlog. We will look into it next quarter.

[2021-02-26 21:12] ashokirla commented on #10
@ErikElkins Schedule reminders is now available!!!

[2021-02-26 21:12] #10 closed

[2021-02-26 21:46] mcg commented on #10
@ashokirla Is this rolling out? Not seeing it yet.

[2021-02-26 22:05] ErikElkins commented on #10
That's awesome news @ashokirla! I look forward to a blog post to hear the fun details.

[2021-02-28 17:01] erikr commented on #83
This feature exists in Slack, but not in Teams. Would be great to have. Thanks for posting, @ohadle.

[2021-03-01 11:55] Koniksan opened #97 "The search drop down menu with Cards behind the embed app content in Teams app\web"
**Describe the bug**
The search drop down menu with Cards behind the embed app content in Teams app\web

**Expected behavior**
A clear and concise description of what you expected to happen.
Drop-down is visible with correct z-index property
![image](https://user-images.githubusercontent.com/15952613/109493668-e11a8d80-7a9d-11eb-9981-d190a499f695.png)

**Screenshots**
Drop-down is not visible
![im

[2021-03-02 17:11] antondimitrov commented on #39
Hi @ashishonce  👋
Do you have nay update on this feature request and can we expect it to be released this quarter as per your remark above ?

[2021-03-03 08:56] ashokirla commented on #97
@Koniksan Can you explain a bit more about this issue. Is this related to GitHub app notifications.

[2021-03-03 09:27] anuraag016 commented on #88
@MattiPuolitaivalGKGAB, as mentioned in this comment https://github.com/integrations/microsoft-teams/issues/88#issuecomment-777258839, one of the partner services is rejecting the calls here.

We had opened an [issue](https://github.com/microsoft/botbuilder-js/issues/3298) under the partner team (which turned out to be a duplicate of this [issue](https://github.com/microsoft/botbuilder-js/issues/3

[2021-03-03 09:45] Koniksan commented on #97
@ashokirla  No, this is not related with GitHub app notifications, it`s only about **css** UI styling, maybe I created this issue in a wrong place. If it is not the right place could you forward me to the appropriate repo

[2021-03-04 08:33] ashishonce commented on #39
@antondimitrov i think you wanted to mention @ashokirla

[2021-03-04 11:58] antondimitrov commented on #39
Yes I did! Thanks for pointing it out :)

[2021-03-08 04:00] gauravsaralMs commented on #97
@Koniksan : most probably this issue belongs to https://github.com/microsoft/AdaptiveCards

[2021-03-09 09:16] Koniksan commented on #97
Thanks, I think this issue can be closed

[2021-03-11 12:56] kyonkopa commented on #11
Can't seem to get subscriptions to work at channel level

[2021-03-12 16:05] jaydeland opened #99 "App Not Found Error"
**To Reproduce**
Trying to add this integration leads to an App not found error message

**Expected behavior**
App installs

[2021-03-15 03:44] gauravsaralMs commented on #99
@jaydeland : can you please share some more details like the steps followed and the error you are seeing?
sharing screen shots will also help us a lot

[2021-03-15 04:51] jtratner opened #100 "Send me a notification when I am @mentioned in a github PR or thread"
**Is your feature request related to a problem? Please describe.**
I get a ton of github notifications.  I want to make sure that if someone @ mentions me in a comment on a pull request, I actually get pinged on Teams. (e.g., this currently works on the github slack integration)

**Describe the solution you'd like**
When someone @ mentions me, a card is created in my personal app chat so I can see

[2021-03-16 10:13] AllAppAdmin opened #101 "TestingIssues"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-16 10:24] gauravsaralMs commented on #101
closing as bug does not have details about the issue

[2021-03-16 10:24] #101 closed

[2021-03-17 03:32] davetapley commented on #40
I can't vouch for the code, but I just used this and it worked 👌🏻
https://github.com/aliencube/microsoft-teams-actions

[2021-03-17 03:43] gauravsaralMs commented on #40
@davetapley : can you share the card/ notification you are seeing on teams ?

[2021-03-17 04:38] davetapley commented on #40
I'm sure it could be made prettier 🙈

<img width="486" alt="Microsoft_Teams" src="https://user-images.githubusercontent.com/48232/111415827-ee3f9b00-869f-11eb-89ec-2b515bdd2d19.png">

[2021-03-18 08:37] lucahost commented on #39
hey, I'm also interested in this feature, would you mind sharing some details of a planned roll out?

[2021-03-18 13:11] webartoli opened #102 "Subscribe to a specific issue"
Really thanks for the really good work you have done so far.

In my team we are using a lot of 3rd party open source libraries. We would like to subscribe to specific issue in order to be notified on comment, closing etc.

Just like subscribe button into the issue.
For example nowadays frontend teams is watching this issue https://github.com/microsoft/fluentui/issues/14430.

[2021-03-24 14:20] matt-carr opened #103 "Suggestion comments render HTML"
**Describe the bug**
When writing a suggestion comment on a PR, the comment forwarded to the Teams PR thread is the unrendered HTML of the comment rather than something human-readable

**To Reproduce**

1. Open a PR
2. Write a comment including a ```suggestion block on that pr

**Expected behavior**
A human-readable comment is forwarded to the PR thread on Teams

**Screenshots**

![image](https://

[2021-03-25 11:26] gauravsaralMs commented on #103
thanks for flagging this @matt-carr , we will look at prioritising this.

[2021-03-26 09:33] lolphert commented on #27
@sriram275 Is there any update on this ? Does your team have a timeline for getting this completed 😄 ?

[2021-03-26 18:25] paulanguiano commented on #27
We have also been sorely lacking this feature since adopting Teams.  Since the last update was six months ago, can we get any insight into the status and scheduling for this?

[2021-03-29 15:42] matt-carr opened #104 "Publish comments associated with a review submission"
**Is your feature request related to a problem? Please describe.**
When submitting a PR review, the review comment does not appear in the PR comments thread on teams.

**Describe the solution you'd like**

In an ideal world, when a review was submitted you'd get a comment based on the review status:

[Pull request approved](https://github.com/integrations/microsoft-teams/pull/98) by @matt-carr
Loo

[2021-03-30 10:13] james-skinner-deltatre commented on #69
Any update on this? I am also seeing the same issue with newly installed app on Linux.

I dont understand your workaround @ashokirla  - how do you install an app in a specific channel? I have set up the app and now see this option in **all** channels:

![image](https://user-images.githubusercontent.com/74296503/112972905-0e1b9800-9151-11eb-82e1-bdd64616b0a8.png)

Clicking this button triggers the

[2021-03-31 17:53] carlo-quinonez commented on #11
Channel level subscriptions require users to be Organization Admins, which isn't practical in my company (or any large company) I imagine. I opened a ticket #105 about that issue.

Being able to subscribe to PRs individually would solve my use-case (as long as I don't have to be an org admin to subscribe!)

[2021-04-01 06:13] aowakennomai opened #106 "Filter features by multiple specific branches"
**Describe the solution you'd like**
Currently filter works with one specific branch
Ex: subscribe owner/repo commits:Lab

If I also want to subscribe `Staging` branch,
Ex: subscribe owner/repo commits:Staging
This second subscribe command overwrites the previous one.
(from `list feature`, only the later is returned)

I wish I can keep two of them without renaming branches.

**Describe alternative

[2021-04-01 06:19] gauravsaralMs commented on #99
@jaydeland : gentle ping

[2021-04-01 06:20] gauravsaralMs commented on #59
@sblomberg : apologies for the late response. we actually pushed some fixes around this..
are you still seeing this issue?

[2021-04-01 14:37] sblomberg commented on #59
@gauravsaralMs It might be getting better, but it's still not 100%. In the last 3 days, we've had 10 new issues opened on our issues repository at https://github.com/roastar-inc/roastar-issues/issues (issues 1192-1201). Of those ten issues, only 7 were posted in our Teams channel. All three issues that were skipped by the GitHub Teams integration were posted to the GitHub issues project via an API

[2021-04-01 16:30] Elaixzar opened #107 "Create Channel With Github inside Specific Team"
Am I missing something with the Github Teams integration.  I can personally connect to a repository and it brings it up inside a chat channel, and a specific Github App window inside teams, but when I try to issue an @github command inside an actual team channel, it only brings up a Create Issue prompt.  Is there a way to connect to a repository and get notifications inside an actual team channel?

[2021-04-01 19:07] matt-carr commented on #107
Oooh I had this problem too - you need to make sure to add the Github bot to your Team (Manage Team > Apps tab > More Apps > find the Github app)

[2021-04-02 15:21] sblomberg commented on #59
@gauravsaralMs The issues that the Microsoft Teams integration is skipping all appear to have backslashes in the title. Maybe those backslashes need to be escaped before sending from GitHub to Teams?

Here's an example of an issue title that is NOT getting sent to Teams: `UploadToS3Error in App\Jobs\UploadToS3`

[2021-04-03 16:15] Elaixzar commented on #107
Was able to get that working.  Thanks!  Would be absolutely better if this were in the documentation somewhere.  Did not see it in about a half hour of parsing multiple documentation and announcement sites

Thanks!

From: Matt Carr ***@***.***>
Sent: Thursday, April 1, 2021 3:07 PM
To: integrations/microsoft-teams ***@***.***>
Cc: Elaixzar ***@***.***>; Author ***@***.***>
Subject: Re: [integratio

[2021-04-05 03:52] gauravsaralMs commented on #107
@Elaixzar : thanks for bringing this to notice

@ashokirla can you take a look at the suggested documentation update?

[2021-04-05 03:57] gauravsaralMs commented on #59
@sblomberg : Thanks for pointing to the exact issue @sblomberg .
we will try to fix this ASAP

[2021-04-05 10:35] chandrakant-gupta opened #108 "No Notification on Re-request Review"
**Describe the bug**
When user Request for re-review .There is no notification for reviewer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to PR and left side menu where reviewer listed down.
2. Click on refresh icon(Request for re-review) against any reviewer.
3. Scroll down to '....'
4. See error

**Expected behavior**
Reviewer should get notification.

**Screenshots**
If applicable,

[2021-04-05 13:58] jaydeland commented on #99
JIRA for Server installs: https://teams.microsoft.com/l/app/6eacb5f0-68b0-46f0-9507-9e906c6861fc

<img width="1290" alt="image" src="https://user-images.githubusercontent.com/9366595/113581692-7d800480-95f5-11eb-8528-3fa41b26ac50.png">

[2021-04-05 14:26] gauravsaralMs commented on #99
@jaydeland : is this about JIRA app ?

This repo is for GitHub app in Teams marketplace
https://teams.microsoft.com/l/app/ca9e26b7-dce5-44a0-b2b7-a70a3d65ce25

[2021-04-05 14:49] jaydeland commented on #99
@gauravsaralMs - Yes this is for integration with our JIRA server

[2021-04-05 17:46] matt-carr opened #109 "Add approval status to PR cards"
**Describe the solution you'd like**
It would be really handy if the PR cards had a section for showing approvals, similar to checks.

e.g.

*Reviewers:* @joe-schmoe, @matt-carr ✔️, @someone-else ❌, @a-third-person 💬

**Describe alternatives you've considered**
Alternatively, simply a status that shows whether or not a PR is ready to merge

e.g.

*Reviewers:* @joe-schmoe, @matt-carr, @someone-else

[2021-04-06 03:23] gauravsaralMs commented on #99
@jaydeland : This repo is to track github integration with MsTeams

If you are looking for github integration with Jira then please reach out to https://github.com/integrations/jira
If you are looking for MsTeams integration with Jira then I am not sure where you can raise this issue.

[2021-04-06 03:23] #99 closed

[2021-04-06 13:26] bvxzee commented on #40
Do we have any updates on this? Apparently, we cannot use non github certified actions

[2021-04-07 07:24] masayyad commented on #59
@sblomberg, the fix for this issue has been released. Thanks for reaching us. Please feel free to reopen if the issue still persists.

[2021-04-07 07:24] #59 closed

[2021-04-07 11:21] aga8541 opened #110 "Github Enterprise"
The current application doesn't allow us to login to the github enterprise. Is it possible to add that new feature?

[2021-04-07 11:28] gauravsaralMs commented on #110
@aga8541 : thanks for opening for this issue.

however we already have an issue https://github.com/integrations/microsoft-teams/issues/110 to track this request, hence closing this.

please participate in the issue created earlier.

[2021-04-07 11:28] #110 closed

[2021-04-07 11:47] aga8541 commented on #110
Thank you.!

[2021-04-09 15:57] itspngu commented on #49
Our organization relies on MS Teams and other Microsoft products for a lot of things. I'd be willing to contribute some features, mostly to avoid getting stuck in a position where developers have to document things, manage workflows and self-organize on two distinct platforms, but not able to as it's closed source.

We're currently headed for a huge mess in this regard and I want to make sure our

[2021-04-12 01:46] jerimy-abner opened #111 "Ability to subscribe to repository releases (similar to slack integration)"
**Is your feature request related to a problem? Please describe.**
There doesn't seem to be the ability to subscribe to releases using the MS Teams Github App

**Describe the solution you'd like**
I would like to be able to subscribe to `releases` similar to the slack app: https://github.com/integrations/slack/issues/397

**Describe alternatives you've considered**
A custom webhook

**Additional c

[2021-04-13 15:53] DeepakThi commented on #56
Excluding PRs using their `label` would be great.  I'd like to exclude `stale` or `parked` PRs, for example.

[2021-04-13 23:10] ccrowley96 opened #112 "GitHub replies in Microsoft team's does not support code formatting"
**Describe the bug**
When formatting code for a particular language in a comment, eg:

[code]

Github's MS teams app shows the raw formatting, something like the screen shot below

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to GitHub repo with teams integration
2. Leave comment on PR using triple back tick formatting followed by language specification ```` ```ts ``` ````
3. See

[2021-04-15 12:14] spoelly opened #113 "No Pull Request notifications any more in a Teams Channel"
**Describe the bug**
Since end March we are not getting GitHub PR creations in our teams channel anymore, which we configured with the GitHub Teams Integration app.
When a comment is placed in a PR it works, but with a new PR creation it does not.

**To Reproduce**
Steps to reproduce the behavior:
1. Add GitHub App to Teams
2. Sign in with your GitHub account
3. Start a chat in a channel with the

[2021-04-16 06:33] matteomessmer commented on #69
I am experiencing the same problem, has anyone been able to solve it?

[2021-04-16 11:39] spoelly commented on #113
don't know what we did, but it is fixed now..

[2021-04-16 11:39] #113 closed

[2021-04-20 05:18] clayellis-cricut commented on #107
It took far longer than I'd like to admit before I stumbled on @matt-carr's suggestion/fix. I think the documentation could be a bit clearer (that you need to add the bot to the channel).

[2021-04-21 03:13] dieskim opened #114 "Auto Fill Owner and Repo when creating issues"
**Is your feature request related to a problem? Please describe.**
When we click Create Issue we have to manually fill in all the details every time - Owner and Repo

**Describe the solution you'd like**
Auto Fill Owner and Repo when creating issues - these values for Owner and Repo could be set per team and channel, per channel would be best for our use case, that way every channel could be set t

[2021-04-21 09:55] Ant59 commented on #87
Would be fantastic to see this feature.

[2021-04-21 11:05] hotgazpacho commented on #27
Bump. Any word on when the ability to use this with an on-prem Github Enterprise will be released?

[2021-04-21 12:34] trackitsvalue commented on #27
Bump. The company I work for also uses Github Enterprise server and Teams.

[2021-04-22 18:20] RTurek commented on #100
+1

Would be great to be able to do something like `subscribe org/repo comments:RTurek` and just get notifications for comments that mention me directly (@RTurek)

[2021-04-23 13:28] matt-carr opened #115 "Truncate long messages"
**Is your feature request related to a problem? Please describe.**
PRs with long descriptions generate unusably long messages via the bot

**Describe the solution you'd like**
An option to either hide a majority of the message ("show less" or similar), or auto-truncate the message at a certain number of characters

**Describe alternatives you've considered**
n/a

**Additional context**
Add any oth

[2021-04-25 08:34] cquanu opened #116 "Add more useful links for commit notifications"
**Is your feature request related to a problem? Please describe.**
- It is hard to see commits made to a branch by a specific user. Commit notification card is not very consistent if the link is only for the username/repository and no hyperlink to the repository branch and user profile.

**Describe the solution you'd like**
- A link to branch and user profile will help greatly. eg. 1 new commit pu

[2021-04-26 13:59] tmarkovski opened #117 "Can't use @github to subscribe to channel"
**Describe the bug**
Cannot use the `@github` command to subscribe notifications in a specific channel. The option always opens the dialog to Create new Issue.
Bug happens on all apps, mobile, browser, Mac.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any channel
2. Type @github
3. Press Enter
4. Dialog shows up, instead link to the GitHub user.

**Expected behavior**
The `GitHub` u

[2021-04-27 03:45] gauravsaralMs commented on #117
@tmarkovski : can you please take a look at a similar reported issue and solution: https://github.com/integrations/microsoft-teams/issues/54#issuecomment-701140371 .

Please close the issue in case the solution provided works.

[2021-04-27 11:08] tmarkovski commented on #117
Thanks @gauravsaralMs - the solution worked. Closing this as duplicate of #54

[2021-04-27 11:08] #117 closed

[2021-04-27 11:10] tmarkovski commented on #84
+1 for this feature, would be great to have it!

[2021-04-28 12:18] matt-carr commented on #104
Upon further review looks like I wasn't subscribed to `reviews` -- this already exists :)

[2021-04-28 12:18] #104 closed

[2021-05-02 01:20] cmcky commented on #107
Additionally, if you have previously installed the app, you will see a button labeled  **Open** by default. You will need to click the dropdown to get the option to **Add it to Team**.

Let me know if I can contribute to the documentation. It definitely needs to be clearer.

<img width="328" alt="Screen Shot 2021-05-01 at 9 14 08 PM" src="https://user-images.githubusercontent.com/5117005/116798949

[2021-05-05 17:42] antondimitrov commented on #39
@ashokirla,  Is this planned anywhere in the quarter ?  It seems that more people are seeing the need for this.

[2021-05-05 17:44] cquanu commented on #39
Me too

[2021-05-11 13:23] rxa1031 opened #119 "Query: Request status unchanged: Install Microsoft Teams for GitHub"
Hello,

Unable to get access even after the GitHub admin approved below request:

![image](https://user-images.githubusercontent.com/18160755/117822208-f83dde80-b289-11eb-9154-e7a2a1901def.png)

I still observe the same status.

How to get this issue fixed on my side?

Please suggest.

Thanks,
Rajeev

[2021-05-12 03:23] rxa1031 commented on #119
Hello @gauravsaralMs ,

I am not aware why I still observe below, s there something that need to be done on GitHub PAge.
![image](https://user-images.githubusercontent.com/18160755/117913598-46d99000-b2ff-11eb-8bf4-5c5fe56e0cc8.png)

Please help me with steps to resolve both the concerns for which I have shared snippets.

Thanks,
Rajeev

[2021-05-12 03:38] gauravsaralMs commented on #119
@rxa1031 : please look at the readme.md file of this repo
https://github.com/integrations/microsoft-teams/blob/master/Readme.md

Closing this issue because not a bug

[2021-05-12 03:38] #119 closed

[2021-05-12 20:24] carlo-quinonez opened #120 "Allow non-admins to schedule reminders"
Currently, only Github Org Admins can schedule reminders. That makes reminders impractical to use outside of a small company.

Allow regular Github users to schedule reminders.

[2021-05-13 07:43] DanielTomlinsonSage opened #121 "Additional Subscription Options"
**Is your feature request related to a problem? Please describe.**
We are a large corporate that has man devs working on the same project.  We do get emails when we are added as reviewers, and likewise for the PR's we create. However, we miss many notifications as we are bombarded with emails in general.

**Describe the solution you'd like**
We would love to have an option for the Git plugin for T

[2021-05-13 14:11] rxa1031 commented on #119
Hi @gauravsaralMs

The document content does not help resolve the below issue. The GitHub (private) repository owner did approve my request. But the below status still remains same:

![image](https://user-images.githubusercontent.com/18160755/118137775-3589a400-b423-11eb-9e01-be3b440c0699.png)

Regards,
Rajeev

[2021-05-13 14:14] rxa1031 opened #122 "Query: Request status unchanged: Install Microsoft Teams for GitHub"
Hi,
According to me my concern #119 is not resolved.

The GitHub (private) repository owner did approve my request. But the below status still persists and I cannot get past it:

![image](https://user-images.githubusercontent.com/18160755/118138115-944f1d80-b423-11eb-8bee-a978509a40c2.png)

Regards,
Rajeev

[2021-05-13 14:15] rxa1031 commented on #122
Hi @gauravsaralMs ,

The document you shared does not talk about how to get past above issue.

Regards,
Rajeev

[2021-05-13 14:35] gauravsaralMs commented on #122
@rxa1031 : you will have to work with the repository/org owner so that repository/org owner approves your request.

[2021-05-13 14:37] rxa1031 commented on #122
@gauravsaralMs as informed before, the repository/org owner has already approved the request. But still the issue persists.

[2021-05-13 14:41] gauravsaralMs commented on #122
@rxa1031 : can you confirm with org owner that they are able to see `Microsoft Teams for GitHub` under this Url:
https://github.com/organizations/<<org_name>>/settings/installations.   ?

[2021-05-13 14:58] rxa1031 commented on #122
Hello @gauravsaralMs ,

I have sent email to the GitHub owners for our repository. I shall get back an answer by Tuesday morning.

I'll get back to you with the findings.

Thanks,
Rajeev

[2021-05-16 23:53] falnyr commented on #84
+1 This would be great with an option to choose a topic :raised_hands:

[2021-05-17 05:53] rxa1031 commented on #122
Hello @gauravsaralMs ,

The above listed problem is resolved.

The owner had to approve the request twice in order to get past the observed issue.

Thanks,
@rxa1031

[2021-05-17 05:54] gauravsaralMs commented on #122
Thanks for confirming @rxa1031 , please close the issue if your issue is resolved.

[2021-05-17 05:56] #122 closed

[2021-05-17 08:53] eerkunt commented on #40
Any hope this can be implemented somewhere soon ? 🙏

[2021-05-17 08:54] cquanu commented on #40
+1

[2021-05-19 10:32] Leystryku opened #123 "Change PR reminders to single digest message/list message"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I see a schedules being posted in our organisation because every single Pending Pull Request reminder gets its own message. If there are 30 Pending Pull Requests there are 30 different messages to scroll to. This gets very convoluted very fast.

**Describe the solution you'd like**
The schedule reminders

[2021-05-19 12:32] rxa1031 opened #124 "Any information updates under Issues on GitHub website is not reported"
Hello,

I only observe that any created / reported project issue, is reported by this GitHub App for Microsoft Teams, only for the first time when it is created under the issues tab of the GitHub org/project.

If any user updates any comments to the Issue on GitHub website then those details are not reflected by this App in Microsoft Teams.

With this GitHub App I am also unable to report:
1. New

[2021-05-20 03:45] rxa1031 commented on #124
Hello @gauravsaralMs ,

We have certain _testers_ who only have access to Microsoft Teams. They do not have access to GitHub.

Thus it is important for us to have:
1. Report all updates on GitHub (Issues) to the testers in Microsoft Teams
2. Help Testers raise a concern / Issue by logging it in Microsoft Teams. The issue should then get reflected on the project's GitHub page.

There is more than 3

[2021-05-20 03:52] gauravsaralMs commented on #124
Thanks for the update @rxa1031 .

By design the app provides update for the 30 mins from the issue/PR creation, post that any update notification will be ignored.

we will be glad to assist you more but at this point of time this does not look like a bug (but rather a feature update)
So I would request you to open a new issue (using the feature request template) and close this issue (which is a bu

[2021-05-20 04:04] rxa1031 opened #125 "Syncing all Issues items (for ever) with Microsoft Teams. Allowing Microsoft Teams user (with not GitHub) account to raise an Issue."
Hello,

I have used certain syncing features when I was using Wrike. I was expecting to have them with GitHub App as well. (I do not want to use Unito as of now, which may provide the required features).

However, I am informed that currently by design the app provides update for the 30 mins from the issue/PR creation, post that any update notification will be ignored.

We have certain testers who

[2021-05-20 04:20] rxa1031 commented on #124
Hello @gauravsaralMs ,

I observe section **Turning conversations into actions** on below link.

https://github.blog/2020-09-10-announcing-the-github-integration-with-microsoft-teams/

![image](https://user-images.githubusercontent.com/18160755/118918623-a879aa00-b950-11eb-824c-58c125b60bf4.png)

My concern is that I do not even have these _Comment_ and _Close Issue_ buttons available in Microsoft

[2021-05-20 04:23] gauravsaralMs commented on #124
@rxa1031 : that is not expected.
can you share a screenshot of how an issue notification looks for you?

Also just to be sure, you have installed app from https://teams.github.com/ ?

[2021-05-20 04:24] rxa1031 commented on #124
Even below is not available:

![image](https://user-images.githubusercontent.com/18160755/118918834-01e1d900-b951-11eb-9f24-47bde938ea9d.png)

Below is all what I observe on my Microsoft Teams page:

![image](https://user-images.githubusercontent.com/18160755/118919013-5be29e80-b951-11eb-9933-9d9a1a3f6779.png)

[2021-05-20 04:25] rxa1031 commented on #124
FYI

![image](https://user-images.githubusercontent.com/18160755/118919107-8896b600-b951-11eb-8b87-4a5bacf1effd.png)

[2021-05-20 04:26] rxa1031 commented on #124
Yes I have installed the above informed GitHub App only (the one for which you have shared the link).

[2021-05-20 04:27] rxa1031 commented on #124
The above snippets are for two different test projects that have the same issue.

[2021-05-20 04:28] gauravsaralMs commented on #124
@rxa1031 : the screen shot you have shared is from personal chat with bot
In case of personal chat, the screen shot which you have shared is expected
This is captured in details [here](https://github.com/integrations/microsoft-teams#personal-app-experience)

In case you subscribe in a channel, then you will get additional options like `Comment`, `Close Issue` and comments on issue coming as reply

[2021-05-20 04:29] rxa1031 commented on #124
I observe **every issue is reported twice** under GitHub-App in Microsoft Teams. I am not aware why this has happened, although on GitHub there is only one issue.

[2021-05-20 04:40] rxa1031 commented on #124
Hi @gauravsaralMs ,

Below is what I have been using:

I have used commands like: _subscribe org/project_

I am sharing a sample of the screen where I run these commands:
![image](https://user-images.githubusercontent.com/18160755/118919702-a87aa980-b952-11eb-9e17-bc8047bc6f20.png)

How do I switch to:

Do I have to open the channel and then issue command there?

Below is what I observe when I do

[2021-05-20 04:44] gauravsaralMs commented on #124
when you start from teams.github.com and go through the install process
in the install screen select "add to a team" instead of "open"

![image](https://user-images.githubusercontent.com/43203065/118920352-eb894c80-b953-11eb-9bdf-d9b6dc4a99cf.png)

post that it will ask you the team where you want to install.

once installation is complete
If you go to any channel in the team where you have instal

[2021-05-20 05:19] rxa1031 commented on #124
Hi @gauravsaralMs ,

Your inputs are really helpful.

While on the Channel, I somehow opened up a window that looked like an Issue Reporting window. However, I am now unable to open it again.

Please help me open the issue reporting window in the Channel.

Thanks,
@rxa1031

[2021-05-20 05:25] rxa1031 commented on #124
Hello @gauravsaralMs

I found the button which helped pop up below:

![image](https://user-images.githubusercontent.com/18160755/118923829-cd264f80-b959-11eb-9b54-ae5a2e989f64.png)

** However, I git the below message when I tried to raise an issue from within Microsoft Teams:**

![image](https://user-images.githubusercontent.com/18160755/118923713-9f410b00-b959-11eb-9163-682de8714b00.png)

Regard

[2021-05-20 05:27] rxa1031 commented on #124
The repository does exist, and I am typing the _org/project_ (i.e. _org/repository_) name correctly.

[2021-05-20 05:29] rxa1031 commented on #124
Do I need to precede the owner GitHub login name with @ or should it be just the login ID name (like rxa1031)?

[2021-05-20 05:29] gauravsaralMs commented on #124
@rxa1031

just to be super sure, the owner and repo input was correct?
like the owner if I want to open an issue in this repo will be `integrations` and repo will be `microsoft-teams`
https://github.com/integrations/microsoft-teams

if the above entry is correct then only other possibility is that the GitHub side of app is not installed in which can you will have to go through the button provided

[2021-05-20 05:34] rxa1031 commented on #124
@gauravsaralMs

Thanks for the inputs, your inputs have helped resolve my concerns!

I am closing this issue as my current concerns are resolved.

Thanks,
@rxa1031

[2021-05-20 05:34] #124 closed

[2021-05-24 19:17] askpatrickw commented on #69
I have GitHub working in one Team and Channel. I want to set it up in anothe Team and Channel.
New Team acts like so (as everyone above says) and cannot subscribe to repos.

Another way to stat this would be "How do you add GitHub to an additional _team\channel_.

![image](https://user-images.githubusercontent.com/4002194/119396370-9b7af480-bc89-11eb-9f6c-2620a77c86e2.png)

My use case is that we

[2021-05-24 19:24] askpatrickw commented on #69
This here is how to fix this ...
https://github.com/integrations/microsoft-teams/issues/107#issuecomment-830720044

You need to act like you're going to install the app again and then add it to a channel.
You can't do this from the view of the app is it already is installed. You need to click More Apps, find it again and then you do it. 🤦

[2021-05-25 08:30] Leystryku opened #126 "Dependabot & Teams Integration conflict wich each other"
**Describe the bug**
The chat messages show a long list of unparsed HTML  tags when using both, Dependabot and the Teams Integration.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Dependabot and Teams Integration to your Teams (both by Microsoft)
2. Wait for a Dependabot PR to come out
3. The chat notification from dependabot will be left unparsed

**Expected behavior**
I expected the

[2021-05-25 11:37] mfsbo commented on #103
Creating an issue with reference to line numbers also bring in HTML table code which can be rendered rather than showing HTML code. Seems relative to #41

[2021-05-25 12:41] rxa1031 opened #127 "GitHub App must allow user to specify which channel the user wants the project to be GitHub subscribed to"
Hello,

I currently enabled GitHub App in Microsoft Teams to communicate to a channel. It immediately printed its message under _General_ channel and did not let me chose to which channel I wanted the message to be printed to.

![image](https://user-images.githubusercontent.com/18160755/119499482-643d3e00-bd84-11eb-87bb-56e379eb40ca.png)

I have various GitHub projects referred under different Cha

[2021-05-25 12:56] gauravsaralMs commented on #127
@rxa1031 : Only the welcome message goes to the General channel (which is by design as the installation happened at team level, which is represented at General channel)

all the command will work from any other **public** channel as well

[2021-05-25 12:56] gauravsaralMs commented on #126
@apurva1112 : can you please look into this?

[2021-05-25 12:59] rxa1031 commented on #127
Hello @gauravsaralMs ,

Thanks for the information.

Is there a way to attach the GitHub App to a **private channel** as well?

I can request the channel creator for help if need be.

Please help.

Thanks,
@rxa1031

[2021-05-25 14:55] gauravsaralMs commented on #127
@rxa1031 : that is not supported by MsTeams, see https://github.com/integrations/microsoft-teams/issues/57 for details

[2021-05-26 00:46] KaisongHuang opened #128 "Change from Third-Party APP to Microsoft APP"
**Is your feature request related to a problem? Please describe.**
I cannot install this APP to my team, since our organization doesn't allow users to install third-party APPs.

**Describe the solution you'd like**
I hope that this app could be released as a Microsoft APP so that I could install it at will.

[2021-05-27 07:12] apurva1112 commented on #126
Hello @Leystryku . Thanks for pointing it out. This issue happened as dependabot uses HTML in PR body while we support only markdown as of now. We are looking more into this to support HTML as well in future.

[2021-05-27 20:57] FLY1NGSQU1RR3L opened #129 "Teams GitHub App is not installed on your repository"
My organization (Microsoft) has enabled Teams GitHub app integration, but it is not working from within  Teams to my repo (microsoft/gdk).

https://github.com/microsoft/GDK

Did I miss a step or is this an issue w/ my permissions or the Private state of my repo?

[2021-05-28 18:07] Leystryku commented on #126
Hello @apurva1112 , thanks. Sounds good. Since your team is looking into this in the future, should I leave the issue open for now or would you prefer if I closed it?

[2021-06-01 05:06] apurva1112 commented on #126
@Leystryku You may leave the issue open. We will close it if its no longer needed.

[2021-06-01 07:17] paratala-vijaymohan opened #131 "MS teams app not available in Github Marketplace"
Can you please help me the url path of MS teams app in github marketplace, so that i can install it across all our organizations,

If i search for MS teams in Github Marketplace, i dont find the app.

![image](https://user-images.githubusercontent.com/29463135/120282240-86c8dd00-c2d7-11eb-9dba-d9b6ca4e4739.png)

[2021-06-01 07:25] gauravsaralMs commented on #131
@paratala-vijaymohan : https://github.com/apps/microsoft-teams-for-github/installations/new

[2021-06-01 07:30] paratala-vijaymohan commented on #131
Thanks @gauravsaralMs, indeed its good if you can embed this link in the Github Change log that talks about Github integration with MS Teams.

[2021-06-01 09:26] romainb commented on #39
Hi, this feature would be really helpful for me as well.

[2021-06-01 12:01] yhrabovskyinomi opened #132 "Teams "mention" using Github login but not email as team does"
**Describe the bug**
When Github bot mentioning some user in teams card, it uses github login which teams can not see as real user so "mentioning" not working.

**To Reproduce**
Steps to reproduce the behaviour:
Default behaviour

**Expected behavior**
Use github profile email as team user mention e.g. @yevhen@gmail.com

**Desktop (please complete the following information):**
 - OS: macos
 - Brow

[2021-06-01 12:03] gauravsaralMs commented on #132
Marking this as a feature request, as this feature was never supported

[2021-06-02 20:25] ccrowley96 commented on #56
+1

[2021-06-03 21:50] ccrowley96 commented on #56
@ashokirla any update on this?

[2021-06-04 08:48] byrneh commented on #27
any update?

[2021-06-07 11:27] daidnoggin commented on #40
Here is a job that can post to MS Teams if a build has failed, without using external code. Something to use until this feature is done.

[code]

![image](https://user-images.githubusercontent.com/4187453/121008203-17228880-c7d6-11eb-88a1-b49dd30d1840.png)

[2021-06-07 13:58] paratala-vijaymohan commented on #40
@ashokirla  any update on this feature please?

[2021-06-07 22:01] rneal-ck opened #133 "Allow reminders to be scheduled for repositories in a chat"
**Is your feature request related to a problem? Please describe.**
My organization uses Teams chats, rather than channels, for our team-specific communication, and we would love to be able to set up daily reminders for pending pull requests in our dev chat.

**Describe the solution you'd like**
'@github schedule organization/repository' commands work in chats as well as in channels.

**Describe al

[2021-06-08 12:16] BogdanAndreiRoman commented on #27
Bump. Any updated for on-prem integration?

[2021-06-11 09:15] yhrabovskyinomi commented on #132
hey, @gauravsaralMs  any thoughts when this could be done?

[2021-06-11 09:16] gauravsaralMs commented on #132
@ashokirla can answer this much better than me

[2021-06-21 17:39] tjaroszuk commented on #27
Hello @ashokirla, Is there any chance for this feature to be added anytime soon? As you can see, there's a large user group looking forward to using this integration in their day-to-day work.

[2021-06-22 17:58] Sealjay-clj opened #135 "Microsoft Graph permission names"
**Describe the bug**
The [GItHub permission scopes](https://github.com/integrations/microsoft-teams#github-permission-scopes) listed do not list out the specific [Microsoft Graph permissions](https://docs.microsoft.com/en-us/graph/permissions-reference#microsoft-graph-permission-names) requested by the application.

This makes it hard to complete a security review.

**Expected behavior**
Expected

[2021-06-23 03:44] gauravsaralMs commented on #135
Assigning to @ashokirla as looks like documentation issue.

[2021-06-23 15:36] yhrabovskyinomi commented on #132
hey @ashokirla  any estimations on dates?

[2021-06-24 08:06] ashokirla commented on #133
Thanks for the feedback. We have this ask in our backlog already. We will look into it next quarter.

[2021-06-25 05:43] rxa1031 opened #136 "Unsubscribe does not work in some cases when issued inside the bot chat window"
Hi,

Please check below image, even after issuing the unsubscribe <organization>/<project> command, the GitHub Chat bot is still reporting commits.

Please help fix this issue.

![image](https://user-images.githubusercontent.com/18160755/123375544-8b1aaa00-d5a6-11eb-84ac-a006daaec461.png)

Please help.

Thanks,
Rajeev

[2021-06-25 05:48] gauravsaralMs commented on #136
@rxa1031 can you do a subscribe list and see if the output matches the input you are giving in unsubscribe command ?

[2021-06-25 14:56] rxa1031 commented on #136
Hello @gauravsaralMs ,

On executing _subscribe list_ I receive message:
_Subscribed to the following account_
_organization name_

Will I have to even issue command to unsubscribe from the Organization as well?

Regards,
Rajeev

[2021-06-28 03:30] gauravsaralMs commented on #136
If you have subscribed to an org then you will have to unsubscribe from that org only..

can you share the outputs and commands you are sharing with aliasing the org name with something else, that would be much helpful to us to provide any clear feedback.

[2021-06-28 10:13] ivanovaolga commented on #57
+1

[2021-06-28 10:17] gauravsaralMs commented on #57
User voice on MsTeams side : https://microsoftteams.uservoice.com/forums/555103-public/suggestions/40742311-add-app-support-in-private-channels

[2021-06-28 18:51] cquanu commented on #39
Any idea when this will be implemented?

[2021-06-30 05:29] rick-ascendtek opened #137 "Group Chat Integration"
Please allow using the integration on the group chat. This is so that all team members can see the updates together.

[2021-06-30 11:31] peter-lillevold-4ss commented on #100
+10

[2021-07-01 08:24] lokeshram122 commented on #10
can we subscribe to a particular GitHub team rather than a organization or a repository like slack notifications?

[2021-07-06 11:08] lynnehansen opened #139 "cannot connect to github account from MS teams"
When executing the command @github signin with the github app in teams - nothing happens after clicking the 'connect to github account' button, and I see the error "[BotCardServiceImplememntation.buttonTrackOutcome()] Unsupported action type for adaptive card: signin" in developer tools.
Using teams through chrome in private mode, using a test account

[2021-07-06 11:55] sanjeev9160 commented on #139
@lynnehansen I have tried to repro by opening teams through chrome in private mode but didn't encounter any issue. I was able to signin without any issue.

Also, please ensure that you have added sites the can always use cookies in the privacy and security. refer: https://docs.microsoft.com/en-in/microsoftteams/troubleshoot/teams-sign-in/sign-in-loop#google-chrome

Also please share some more deta

[2021-07-06 15:28] finger563 opened #140 "Integration between the Planner and Github"
**Is your feature request related to a problem? Please describe.**
I would like to be able to link github issues / PRs / etc. to tasks in the Planner app / integration that's also within Teams - both Github and Planner have Kanban representations for project tasks and it would be beneficial if they could be somewhat / somehow linked.

**Describe the solution you'd like**
Being able to link a task

[2021-07-07 11:06] juliojgd commented on #121
This request is a basic feature request. I am surprised it was not developed yet.

[2021-07-07 12:54] icklers commented on #27
I give a clear +1 to GHES support, too, as we heavily use MS Teams and are currently moving our repos to GHES.

[2021-07-09 03:53] jasonycw opened #141 "Cannot signin with desktop Teams app"
**Describe the bug**
When I do signin, I was stuck at the a pop up about typing something

**To Reproduce**
Steps to reproduce the behavior:
1. Install GitHub
2. Type `signin`
    ![image](https://user-images.githubusercontent.com/4518597/125020606-bf648f00-e0ab-11eb-9422-5f79ccfae712.png)
3. Click connect gitHub account and enter the username password
    ![image](https://user-images.githubuserco

[2021-07-09 03:59] jasonycw commented on #141
If I try to use it in a channel, when I type on `@github `
![image](https://user-images.githubusercontent.com/4518597/125021311-f5eed980-e0ac-11eb-8434-82bdb97d79c1.png)
I see this pop up
![image](https://user-images.githubusercontent.com/4518597/125021344-04d58c00-e0ad-11eb-9489-d7de10226292.png)

[2021-07-09 04:55] sanjeev9160 commented on #141
@jasonycw I tried reproing the issue but not able to repro it.

For channel: Can you please type @github and select the GitHub bot as you have done. Then it must appear like the pic below
![image](https://user-images.githubusercontent.com/64134945/125025043-92aa7a80-e09f-11eb-8570-3a79496b4fe4.png)

And do a sign in, for me it is successful.
![image](https://user-images.githubusercontent.com/64134

[2021-07-09 06:26] jasonycw commented on #141
Hi @sanjeev9160 thanks for the quick reply, but I cannot tag GitHub in a channel

Like what I shown in https://github.com/integrations/microsoft-teams/issues/141#issuecomment-876894323
When I try to tag GitHub, it just throw a pop up asking me to signin.

![image](https://user-images.githubusercontent.com/4518597/125033105-77e8fd80-e0c1-11eb-9267-206ca7f2562a.png)
When I press space here, the foll

[2021-07-09 07:51] alexander-levitsky95 commented on #139
Hello, I also have the same issue. After clicking to the "Connect to GitHub account" nothing happens.

I'm using the MS Teams application on macOS.

[2021-07-09 08:28] jasonycw commented on #141
I tried on browser version of Teams on Chrome 91.0.4472.124 (Official Build) (64-bit)

Get the same error on channel
![image](https://user-images.githubusercontent.com/4518597/125048461-87247700-e0d2-11eb-9fb1-1754b290d3e0.png)

But direct messaging it on Chrome works
![image](https://user-images.githubusercontent.com/4518597/125048574-a7eccc80-e0d2-11eb-9bda-11518d2f7440.png)

That mean only desk

[2021-07-09 08:39] GCADM opened #142 "Team GitHub install"
**Describe the bug**
Not linking on the installation link you sent
**To Reproduce**
Will check Teams Admin console if something not turned on
1. Go to 'ms365 admin Teams to verify of GitHub is actually active '
2. Click on on link

**Expected behavior**
GitHub Teams install

[2021-07-09 08:48] sanjeev9160 commented on #141
@jasonycw You can try to restart the Teams and give a try once again.  Thanks.

[2021-07-09 08:57] sanjeev9160 commented on #139
@alexander-levitsky95 I tried to repro the issue on macOS but it works for me.
Please do these steps to help us in seeing if there is a problem with msteams app.
1. Try to restart the Teams App and see if it works. Try to remove the teams cache and see if it works or not?
2. In case nothing works then Can you please try it in chrome and see if it is working or not?

and share the details along wit

[2021-07-09 09:38] sanjeev9160 commented on #142
@GCADM Can you please describe the bug as it is not clear from the description.

Also, to install github app, please follow the documentation: https://github.com/integrations/microsoft-teams/blob/master/Readme.md#installing-the-github-integration-for-teams
Thanks.

[2021-07-09 16:11] holytshirt commented on #141
Hi I'm having the same issue with trying to sign-in with github app.
I also have 2FA enabled on GitHub account and the Teams is using a company email.
I'm also a admin of multiple github organizations.

OS: Windows 10
Browser: Desktop app
GitHubApp: Version 1.3

When I sign-in
![image](https://user-images.githubusercontent.com/90132/125106072-1e8bc900-e0d7-11eb-9646-a548b79a9548.png)
Then connect

[2021-07-09 16:35] holytshirt commented on #141
I got  this working by, signing out of github and then using Teams in the browser to sign-in and then sign-in to github

[2021-07-09 19:48] ccc-dvansevenant opened #143 "Installing GitHub App To a Specific Channel Notifies the General Channel"
Since the incoming webhooks from GitHub do not seem to work anymore, and all documentation seems to point to the GitHub app, I have been forced to install it in our new tenant.

During install the app allows you to select which team and channel the app should talk to. Great!

However, once installed, it send a message to the General channel of that team.

This is not desirable.

Either:
a) offer t

[2021-07-12 03:41] gauravsaralMs commented on #136
please re-open the issue in case issue is still present

also please share the outputs and commands you are sharing with aliasing the org name with something else, that would be much helpful to us to provide any clear feedback.

[2021-07-12 03:41] #136 closed

[2021-07-12 15:46] gt3M commented on #27
+1

[2021-07-12 16:16] lynnehansen commented on #139
I didn't have all the right cookie policies set - it fixed the issue for me

[2021-07-12 16:16] #139 closed

[2021-07-13 11:42] ashokirla commented on #40
Hi, We are currently working on introducing notifications when you deploy to an environment from your actions workflow.
1. Deployment review request notification on an environment
2. Deployment review completed notifications for an environment
3. Status of deployment to an environment.
We are targetting to ship the support in this quarter.

[2021-07-13 11:57] cquanu commented on #116
Any news on this?

[2021-07-15 01:23] KaneTW commented on #141
Having the same issue. None of the workarounds seem to help.

[2021-07-16 06:47] InternetMaster1 opened #144 "Displaying Boards inside Microsoft Teams"
**Is your feature request related to a problem? Please describe.**
We would love to see the entire Project & Issues experience inside of Teams
https://github.com/features/issues/

**Describe the solution you'd like**
It would be similar to how Planner is integrated inside of Teams, there is a **direct tab on the left which shows entire board inside of Teams app**. A very tight integration with Mic

[2021-07-16 16:16] rxa1031 opened #145 "1. For any specific project, how to view list of all open and closed issues (inside the subscribed channel)? 2. Add comments to a known issue by directly referring its # and irrespective of its textual display position in the channel."
Hello,

I have been trying to request my team to install and use GitHub App in Microsoft Teams.

There are two different projects channels that I've created and have subscribed to the following:
[code]

I am however unable to fulfil the two basic requirements especially from the testers, who are only made aware of the GitHub App / bot.

How do I help the tester:
1. For any specific project, how to

[2021-07-21 13:12] rxa1031 commented on #145
Hello,

Please help with the shared concern. I need to share the possibility / information with my team.

Thanks,
@rxa1031

[2021-07-22 23:34] mtwig opened #146 "Integrate with Github Discussions"
The Github plugin currently does not allow subscriptions to discussions. Allowing discussion integration will allow developers to keep all discussions and notifications for a repository within MS Teams. It also allows discussions about a Github repository to be documented in Github, and make it easier to track previously unresolved conversations.

[2021-07-22 23:34] #146 closed

[2021-07-22 23:35] mtwig commented on #146
Duplicate ticket, closing.

[2021-07-23 08:20] rxa1031 opened #147 "Unable to view Lists of all reported Issues, also unable to refer to a specific issue with help of a # number and add comments directly to it."
Hello,

With this GitHub bot / app I am unable to fetch list of all reported issues. There is no command listed for it.

The command `@github subscribe list features` only helps to know what features are subscribed `issues, pulls, commits:'*', comments`.

There is no commands similar to any one of `@github list issues open`, `@github list issues closed`, @github list issues all`.

As a result of a

[2021-07-23 08:23] rxa1031 commented on #147
I need to share a simple solution with them (one that is not too technical). There could be technicians or end user who would want to report an issue.

[2021-07-23 08:31] rxa1031 commented on #144
Similar request #145

[2021-07-26 03:33] gauravsaralMs commented on #147
Feature request, not a bug

[2021-07-27 11:43] simongh opened #148 "No Notifications appearing in Teams"
**Describe the bug**
I can't see what's not working. We have a GitHub Organisation. The Teams app is installed & authorised for all repositories. All the repos are internal. I've installed the GitHub app in teams & signed it.
I can subscribe to the organisation, but no notifications are generated at all. If I try to subscribe to a repo, then I get an error that the repo was not found.
GitHub links

[2021-07-27 11:47] gauravsaralMs commented on #148
@simongh this seems to be a SAML issue.

**Quick thing to try**
- can you try this : https://github.com/integrations/microsoft-teams/issues/58#issuecomment-702978337

**Ask**
- can you run `@github debug` command and share the output

@apurva1112 can you look into this?

[2021-07-28 15:58] simongh commented on #148
It seems signout and signin fixed it. thanks for your help

[2021-07-28 16:25] simongh commented on #148
I've not tested the subscriptions yet, but it's unfurling links again

[2021-07-29 01:25] simongh commented on #148
All tested and subscriptions work too.

[2021-07-29 01:25] #148 closed

[2021-08-03 22:28] matt-forster commented on #141
I am also running into this issue with Teams Desktop, and I cannot load into teams in the browser (firefox).

I have OTP enabled and am getting exactly the same behaviour as listed above - not sure what to do with the number in the popup.

[2021-08-05 09:49] aosunacon commented on #141
Same here

[2021-08-09 16:02] amardancandm commented on #141
Solution:
1-Go to https://teams.github.com/
2-Use "Add to Teams"
It will ask you to open Team Application or Use Web - Choose "Use Web App Instead"
go to GitHub Bot and Sign-in

I will not request for code anymore .

If it works you will see You will see a Green check Mark:
 ✅ amardancandm is now connected to @amardancandm

[2021-08-09 17:26] matt-forster commented on #141
Using firefox - All I get is this modal over and over again when using the webapp;

![image](https://user-images.githubusercontent.com/3375444/128748009-0c0ccc9b-30f1-46fa-8d4a-c9da8a7f7425.png)

[2021-08-10 21:09] neatcoder commented on #56
@ashokirla any progress on this?

[2021-08-11 06:11] bhattdevarsh opened #149 "Unable to Link Teams and Github"
I followed the README file for the process. I am trying to authenticate Teams At Github and I see Message
[code]

when I Went back to the teams I could not find where to type this code. so I did some trial and error. but could not link these apps.

request:
- Update readme and add authentication part.
- Update message Appears on the https://teams.github.com/teams/github/oauth/. and make it more cl

[2021-08-11 06:20] gauravsaralMs commented on #149
closing as dupe of https://github.com/integrations/microsoft-teams/issues/141

[2021-08-11 06:20] #149 closed

[2021-08-11 22:34] cagenix-git opened #150 "Allow users to be able to add labels"
**Is your feature request related to a problem? Please describe.**
This feature would allow us to avoid having to externally add tags to issues and instead allow us to more time to actually be fixing issues.

**Describe the solution you'd like**
Either during issue creation or in the comments of an issue allow users to be able to assign labels to issues.

**Describe alternatives you've considered*

[2021-08-12 13:02] gaetan-nfcom opened #152 "I can't create an issue in Teams"
When i click on the github's image, i fill in the fields
![Capture](https://user-images.githubusercontent.com/77383371/129200482-f5877cd9-804d-4cab-819f-d4e65bc79f52.PNG)

there is this message :
![Capture](https://user-images.githubusercontent.com/77383371/129200812-8852d996-12ca-471a-9d61-3dc6732ea145.PNG)

but i have already configured my github for teams.

Someone have an idea how to solve tha

[2021-08-12 13:06] gauravsaralMs commented on #152
@gaetan-nfcom : please click on the install-app flow and make sure to select the org where you want to create the issue.
also make sure the the input is correct..

like for issue https://github.com/gauravsaralMs/devops-tasks/issues/686

I entered `gauravsaralms` as owner and `devops-tasks` as the repo

@sanjeev9160 to look further at this.

[2021-08-12 13:09] gaetan-nfcom opened #153 "I can't comment or closed or reopened issue in Teams"
When i create an issue via Teams i am notified on Teams but i can't interact (comment , close issue etc..) with the notification.
![tempsnip](https://user-images.githubusercontent.com/77383371/129202150-8b13454d-e3d0-4126-8d96-e8ee0cd64e86.png)

Someone has an idea how to resolve that ?

Thank You.

[2021-08-12 13:11] gauravsaralMs commented on #153
@gaetan-nfcom you have subscribed in personal scope where you can not comment/close issue.
if you subscribe in teams channel then you will be able to do these things...

please take a look at the readme of this repo

[2021-08-12 13:13] gauravsaralMs commented on #152
@gaetan-nfcom : if you are able to create issue from GitHub now, please update and close the issue.

[2021-08-12 13:15] gaetan-nfcom commented on #152
Thank you but for the org is good but i have a doubt on the input who concern the repository name.

There is not auto completion and i don't know in what form i must write in the inputs.

Warning your link doesn't works :)
![Capture](https://user-images.githubusercontent.com/77383371/129202794-e5ed6e73-1f5e-424a-9697-dbd8e852256c.PNG)

[2021-08-12 13:29] gauravsaralMs commented on #152
Yes auto-complete is not present. we can take that as a feature request.

for issue https://github.com/gauravsaralMs/actionPlayGround/issues/1

the input should be like the below
![image](https://user-images.githubusercontent.com/43203065/129205212-fc88d7b3-4a59-4b77-866e-c7aa41f5446a.png)

[2021-08-12 13:32] gauravsaralMs commented on #153
valid feedback, we will take it up as a feature request.

assigning to @ashokirla for prioritisation.

[2021-08-12 13:32] gaetan-nfcom commented on #152
Ok Thank you i have try this with my org and my name like you say but it still does not work.

[2021-08-12 13:33] gaetan-nfcom commented on #152
the same message appears
![Capture](https://user-images.githubusercontent.com/77383371/129205884-51c1c3c3-39d9-4f22-aaf0-c77721e4230f.PNG)

[2021-08-12 13:34] gauravsaralMs commented on #152
@gaetan-nfcom ...
can you share

- screen shot of https://github.com/settings/installations
- screen shot of the issue creation dialog once you have added all the data in it

[2021-08-12 13:37] gaetan-nfcom commented on #152
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/77383371/129206467-2e28567d-e743-43d6-bbd6-060de52b2f46.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/77383371/129206475-c745e49a-c785-4cdb-90c6-3f5a2133f86a.png)
![MicrosoftTeams-image](https://user-images.githubusercontent.com/77383371/129206479-0a0ac899-aa24-47cb-b91a-db7b465e909e.png)

[2021-08-12 13:40] gauravsaralMs commented on #152
@gaetan-nfcom I want to look at the https://github.com/settings/installations. (installed app tab)

if you have installed the app then it should show up like this

![image](https://user-images.githubusercontent.com/43203065/129206927-aa512ff5-0030-427b-a0b4-c1940b2305f1.png)

[2021-08-12 13:41] gaetan-nfcom commented on #152
![Capture](https://user-images.githubusercontent.com/77383371/129207121-319be70d-a4c1-46d8-9ec9-ec248e5d09ba.PNG)

[2021-08-12 13:43] gauravsaralMs commented on #152
@gaetan-nfcom This means that app is not installed...

if you click on the install app button
![Capture](https://user-images.githubusercontent.com/77383371/129200812-8852d996-12ca-471a-9d61-3dc6732ea145.PNG)
it will take it to you
https://github.com/apps/microsoft-teams-for-github/installations/new

there you can select your app/ user name and things should start to work for you

[2021-08-12 13:47] gaetan-nfcom commented on #152
Okay i have already do all you say at the beginning and i can subscribe and when someone of my org to do an issue from github i am notified

[2021-08-12 13:53] gaetan-nfcom commented on #152
I'm going to try to close post from github and i receive this just now :
![Capture](https://user-images.githubusercontent.com/77383371/129209117-05112fbb-a763-414f-a053-9641a57a3fb5.PNG)

[2021-08-12 13:56] gauravsaralMs commented on #152
Is this what you are trying?
please confirm the inputs except for title and desc

![image](https://user-images.githubusercontent.com/43203065/129209458-e076ed7e-6f50-4978-bcca-a6d3cc7fcef6.png)

[2021-08-12 13:58] gaetan-nfcom commented on #152
Okay thank you i can create an issue it was my fault i put my first name in place of nfcom

[2021-08-12 13:58] gaetan-nfcom commented on #152
It works thank you :)

[2021-08-12 13:58] #152 closed

[2021-08-12 14:00] gauravsaralMs commented on #152
Any suggestion if we can change something to make the experience better?
would changing Owner to Owner/Organization help ?

[2021-08-12 14:00] gaetan-nfcom commented on #152
Yes i think it would be better :)

[2021-08-12 14:07] gaetan-nfcom commented on #152
And it's possible but i think it's a  many feature :
1. add the possibilites of choose assignment to a person
2. Assign it to a task
3. drop-down list with all the repos

[2021-08-13 10:42] valiguram opened #154 "Bot not available in group chat"
**Describe the bug**
I wan to get notifications from bot also in group chat and not only in channel.
I am not able to add bot in group chat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'group chat'
2. Click on '@'
3. Scroll down to 'Get bots'
4. GitBot not available

**Expected behavior**
When typed @GitBot I get all bot features available
e.g.
@GitBot subscribe owner pulls will ad

[2021-08-13 11:42] sanjeev9160 commented on #149
@bhattdevarsh Thanks for reporting. We are unable to repro the issue but we are actively looking into it.
Can you please add some more details like OS, is it happening in both the desktop teams app and browser(add the details of it with the version). This will help us in reproing the issue. Thanks.

[2021-08-13 11:52] bhattdevarsh commented on #149
Os : Linux
Flavor: Ubuntu 18
Using: Teams for Linux
Working for web version
Browser: Chromium

[2021-08-13 15:41] bkottcamp commented on #27
+1

[2021-08-18 05:24] sanjeev9160 commented on #141
We are following up with the MS Teams team: https://github.com/OfficeDev/microsoft-teams-library-js/issues/630

[2021-08-19 03:52] MindyTai opened #155 "Is the Github app login feature integrated with SAML SSO ?"
**Describe the bug**
My Enterprise Github uses SAML SSO to login. But when I login, the Github app doesn't show the SSO login page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Github app and type **signin** command
2. Click on **Connect Github account**
3. login page pop up

**Expected behavior**
The app should show SSO login page.

**Screenshots**
<img width="431" alt="Screen Shot

[2021-08-19 04:38] gauravsaralMs commented on #155
👋🏼  please take a look at https://stackoverflow.com/questions/62459585/what-is-the-difference-between-github-enterprise-cloud-and-on-premise#:~:text=The%20basic%20difference%20is%20that,You'll%20find%20more%20here.  for difference between github enterprise 'cloud' and 'On premise'

if you are using enterprise 'cloud' (means your github organisation is somewhere github.com/**** ) then the app is su

[2021-08-19 05:59] sanjeev9160 commented on #141
For now to work around the signin issue. Please follow the steps mentioned below as a snapshot which will help in getting pass the issue.

![image](https://user-images.githubusercontent.com/64134945/130015238-52257591-d1bb-4968-ac5b-7a27047afe8b.png)

**[Channel Scope]**
![image](https://user-images.githubusercontent.com/64134945/130015363-3bfcd30b-6dec-48d0-8753-bf374f0dcdac.png)

**[Personal sco

[2021-08-19 06:06] MindyTai commented on #155
@gauravsaralMs, thanks for your response. I'm waiting for GHES support too.

[2021-08-19 06:06] #155 closed

[2021-08-20 13:20] tbelknapsgs opened #156 "Tagging GitHub automatically creates an issue"
**Describe the bug**
Recently installed this integration. I attempted to subscribe to a repository by issuing the following command:
`@github subscribe tbelknapsgs/visualize`

If I paste that command into the window, nothing happens. If I just type @github and hit the space bar, a new window automatically pops up asking to create a new issue in my repository?

**To Reproduce**
Steps to reproduce t

[2021-08-23 03:56] gauravsaralMs commented on #156
@tbelknapsgs

- the bot needs to be added to team, please see the below comment for details
https://github.com/integrations/microsoft-teams/issues/54#issuecomment-701140371
- the way teams work it will not let command copy/paste work.. so you will still have to type `@github` but after adding it to team you should be able to issue command (like subscribe)

[2021-08-23 21:51] jacksondaw opened #157 "Auto Delete Team's Conversation when a Pull Request is Merged or Closed"
**Is your feature request related to a problem? Please describe.**

By the end of a day our teams channel with many repositories is cluttered by PRs in all states. It would be great if once the PR is merged the conversation is automatically deleted from the channel. With this feature enabled the channel is always a representation of open pull requests.

**Describe the solution you'd like**

Add an

[2021-08-24 14:00] JKostov commented on #115
@ashokirla Any update here?

[2021-08-25 10:52] gauravsaralMs commented on #156
@tbelknapsgs : did the above comment helped you?

[2021-08-25 11:29] Tschwen commented on #27
bump. Now it's nearly a year without any update here?

[2021-08-25 16:28] tbelknapsgs commented on #156
Yes, I believe it does, thank you.

[2021-08-25 16:28] #156 closed

[2021-08-31 10:14] rxa1031 commented on #147
Hello @ashokirla ,

I shared below information over call with you:

COMMITS:
--------

GitHub date
Company/Project
1 new commit to XXX by @rrr
nnnnn What changed

ISSUES:
-------
Company/Project
Issue opened by @rrr on date

Issue Heading

Issue Status

Text / information

Assignees: ...
Labels: ...

My team mates have used below in past. They liked the ISSUE LIST view in Wrike:
https://guide.unit

[2021-08-31 10:47] rxa1031 commented on #147
In WRIKE, we used to use the Right side pane which showed an Issues Task.
Within the issues Task we were able to select what type of issues we want to view, like All, open, closed, etc.
We would then click the SUB-TASK to which we either want to update information (including file attachments) or review information and then take actions (within the specific Issue sub-task) as needed.

The GitHub bo

[2021-09-02 05:01] rxa1031 commented on #147
Is it possible somehow to add the GitHub bot to the Private channels as well, so that people who are part of the channel can only get information fetched by the GitHub bot. Can the GitHub bot be somehow added as a user to mitigate the current limitation (with private channel, which does not exist with public channel?

[2021-09-03 05:52] srivatsamarichi opened #161 "Cannot subscribe enterprise org with SSO enabled"
**Describe the bug**
Cannot subscribe enterprise org with SSO enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Apps'
2. Click on 'GiHub' to install.
3. Scroll down to 'subscribe'
4. See the below screenshot for reference.

**Expected behavior**
Cannot subscribe to the enterprise org which has SSO enabled. There is no option to subscribe to the enterprise org with SSO enabled.

[2021-09-03 05:53] gauravsaralMs commented on #161
@srivatsamarichi  this seems to be a SAML issue.

**Quick thing to try**
- can you try this : https://github.com/integrations/microsoft-teams/issues/58#issuecomment-702978337

**Ask**
- can you run `@github debug` command and share the output

[2021-09-03 10:52] sanjeev9160 commented on #141
Closing the issue as we have mentioned the fix.

[2021-09-03 10:52] #141 closed

[2021-09-03 17:02] yoshutch commented on #11
This is a must-have feature for my organization. The Slack integration does this flawlessly where you can define your "real-time" alerts (like only notify me when I get assigned to a pull request). It would be amazing to receive the same real-time notifications in Teams.

GitHub settings to enable real-time alerts to Slack Notification (under the Settings -> Scheduled Reminders -> org):

*Please*

[2021-09-03 18:23] yoshutch opened #162 "Real-Time Alerts"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when the Microsoft Teams integration does not allow me to receive real-time alerts for me personally for GitHub repositories that I have not manually subscribed to. My organization actively works on hundreds of repos and telling everyone in the organization to manually subscribe to every single repo that they might g

[2021-09-08 08:38] gauravsaralMs commented on #161
@srivatsamarichi Gentle Ping

[2021-09-14 05:12] gauravsaralMs commented on #161
@srivatsamarichi please reopen the issue and let us know in case issue is still happening

[2021-09-14 05:12] #161 closed

[2021-09-17 09:21] bramjoosten opened #163 "Attachment icon missing"
**Describe the bug**
On MacOs Ms Teams, the attachment icon disappears once you focus the github app.  This applies for chat groups and one-on-one chats.

**To Reproduce**
Steps to reproduce the behavior:
1. Open MS Teams, do not open github app yet, observe attachment Icon is still there
2. Click on github app, observe it is removing some icons under the text input
3. Go back to chat group
4. Obs

[2021-09-17 09:37] gauravsaralMs commented on #163
can you retry once? it is working fine for me

![image](https://user-images.githubusercontent.com/43203065/133761368-299ebce8-6eb2-4aec-b662-42c3c7d4dbb2.png)

This is not something the GitHub app controls (or can control)..  I will be great if you can reach out to MsTeams team for this. You can make use of below image (which is in the left bottom side)

[2021-09-17 10:10] bramjoosten commented on #163
I re-installed the app and restarted teams. The re-pinning works now, but the main issue is still there. I'll reach out to MsTeams.

[2021-09-17 10:39] bramjoosten commented on #163
I've reached out through the suggested option (in my version it's called 'give feedback') any idea how I know they will so something with my report?

[2021-09-17 10:41] gauravsaralMs commented on #163
No idea as such..

If you received any ack (confirmation) and you can share then I can **try** to find out..

[2021-09-20 19:22] yoshutch commented on #162
It looks like [this](https://github.blog/changelog/2021-09-07-deployment-review-notifications-in-microsoft-teams-and-slack/) is a step in the right direction, but it still doesn't solve the main issue. My main use case is that I want to be notified (in real-time) when someone assigns me to be a reviewer of a PR, as well as any comments made to my PR or a PR that I have commented/reviewed etc.

[2021-09-22 08:28] lagerholm commented on #108
I'm also experiencing/missing this. Would be great to have this fixed/implemented!

[2021-09-22 08:33] bramjoosten commented on #163
Hi, I have an update. I noticed I can reset the attachment icon by toggling between chat view and another view, e.g. teams or calendar. That redraws the attachment icon. Not ideal, but it's way better than restarting teams all the time.

Also, I have noticed that other extensions do not have this problem. So @gauravsaralMs I am just curious if that means that it could still be an Ms Teams issue or

[2021-09-22 14:15] MichaelUrman opened #165 "Suggestion comment rendered in Teams as HTML"
**Describe the bug**
Suggestion-only PR comment on rendered incorrectly in Teams comment

(I don't know what related scenarios may have similar rendering problems. For instance does additional text before or after the suggestion resolve the problem? Do channel and chat subscriptions match?)

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe to a repository, including pulls, in a teams

[2021-09-22 15:38] manodrum commented on #115
This would be useful for us as well. We send bug reports to our issues queue with lots of logging and session metadata which creates very long issue text. Would be helpful if we could configure a number of lines to show in Teams with a "show more" link to expand or even just link out to GitHub if that is easier to implement.

[2021-09-23 10:47] bramjoosten commented on #163
Sorry to bother you, I installed another extension that show the same issue with the attachment icon.

[2021-09-23 11:50] jaredjenkins commented on #66
Is it possible for this label to show up automatically based on our teams defined in the organization?

[2021-09-24 01:28] MichaelUrman commented on #165
Saw another variant of this with a fenced codeblock appearing twice. First as `<div class="snippet-clipboard-content position-relative" data-snippet-clipboard-copy-content="..."/>` (text in the ...) followed by the content as a teams code block. As before the appearance in the PR on GitHub is fine.

Ah, this appears to be a duplicate of #103 and #112. I disagree with the categorization of it as a

[2021-09-24 12:29] kimleeng opened #166 "Have a way to reference an issue for teams from the backlog in conversation"
**Is your feature request related to a problem? Please describe.**
I'm just starting to use github integration for teams and I think it'd be very nice to be able to reference an issue in chat. Right now it appears to be if I want to reference someone an issue then the best way is to copy the link on the chat that github creates for the issue then to message someone about it.

**Describe the soluti

[2021-09-24 16:15] yoshutch commented on #115
PRs created by dependabot have large descriptions as well, so this would be a welcome feature.

[2021-09-24 19:05] binury commented on #115
![CleanShot 2021-09-24 at 14 04 41](https://user-images.githubusercontent.com/1146921/134727310-ac0b3783-9d21-44f4-a51d-2b42f22ff28d.png)

[2021-09-27 18:44] GCADM commented on #140
Interested in this progress

[2021-10-01 23:51] wrobb commented on #161
I had this same issue today and the signout/signin suggestion fixed it. Thanks!

[2021-10-06 11:27] elpollitodiablo opened #168 "Bot mention directly jumps to issue creation"
When trying to setup the Bot on a cloned team, any mention of @Github brings up the issue creation screen. I cannot subscribe or do any other command

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new team with a team template which already has Github enabled and subscribed
2. Go to any channel in the team, preferrably `General` where Github announces itself
2. Type `@github subscr

[2021-10-06 11:43] gauravsaralMs commented on #168
@elpollitodiablo : can you please take a look at a similar reported issue and solution: https://github.com/integrations/microsoft-teams/issues/54#issuecomment-701140371 .

Please close the issue in case the solution provided works.

[2021-10-06 11:52] elpollitodiablo commented on #168
Ok that worked, thank you

[2021-10-14 12:48] sam-innes opened #169 "Markdown in PR display"
**Is your feature request related to a problem? Please describe.**
It would be nice if we could see the markdown of a pull request when it's added to a chat:
![image](https://user-images.githubusercontent.com/36270896/137319855-5190c3ae-dc2f-4a57-a77c-b67dc72cfee0.png)

It's a minor request - doesn't make any real difference but will just improve quality of life using the teams integration. This f

[2021-10-18 04:17] ashokirla commented on #162
@yoshutch Thanks for the feedback. Yes, we are currently working on this feature.

[2021-10-19 20:37] alejandro-myriad commented on #80
Looks like this implemented now per instructions here: https://github.com/integrations/microsoft-teams#customize-notifications

I needed to `subscribe owner reviews`

[2021-11-05 14:08] jwfuller opened #175 "Allow me to filter out my own activity"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I am individually subscribed to a repo and the bot notifies me about my own activity. Example: "Issue closed by @jwfuller" or "New comment on issue by @jwfuller"

**Describe the solution you'd like**
I would like to suppress notifications about my own activity

**Describe alternatives you've considered**

[2021-11-09 18:54] ZeerakW commented on #140
Like everyone else here, I also support this.

Currently, my team and I are looking to move off from Planner to a third party that supports this scenario - and I imagine that most teams that use Github and have Microsoft 365 are doing something similar because of the hassle of keeping tasks in sync across Planner and Github.

[2021-11-10 19:34] Yanz-dotcom opened #176 "https://github.com/Yanz-dotcom/microsoft-teams.git"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-11-10 19:34] #176 closed

[2021-11-17 16:48] javsjmoore opened #177 "Labels starting with an underscore cannot be used as filters"
**Describe the bug**
Attempting to subscribe to a repo using a label filter that starts with an underscore results in the following message:
`+label:_myLabel is not a valid argument. The right format is +label:"my label"`

**To Reproduce**
Attempt any of the following in the GitHub teams chat channel after installing the GitHub/Teams app integration:
1. `subscribe owner/repo +label:_myLabel`
2. `s

[2021-11-29 04:47] rxa1031 commented on #147
Hello @ashokirla ,

What is the current released version for the App. It (appears) that the version that I am using is 1.3.

Is there an update on the progress of this issue?

Regards,
Rajeev

[2021-12-01 13:35] arihannu opened #178 "Don't show suggestions popup every time GitHub channel is opened"
Every time I open GitHub channel chat, it pops up Suggestions window (see screenshot). Then I have to click somewhere outside to close it. This is annoying. Is there a way to disable this or is this something still to be changed?

![image](https://user-images.githubusercontent.com/9438559/144243622-6622eaa9-f65c-4129-96ec-cdc34b2de1e9.png)

[2021-12-02 05:08] Abhiram219 opened #179 "Url is tampered in preview card when the link unfurls in teams"
**Describe the bug**

When the Url is unfurled in teams by using [link unfurling](https://docs.microsoft.com/en-us/microsoftteams/platform/messaging-extensions/how-to/link-unfurling?tabs=dotnet), in preview mode & is being converted to &amp; As a result our page is beraking.

Example: When I paste a URL 'https://www.abc.com/ab?c=d&e=g' this url is being converted to  'https://www.abc.com/ab?c=d&am

[2021-12-02 05:11] gauravsaralMs commented on #179
@Abhiram219 this app/repo handles unfurl only for urls which are in github.com domain.

You can report your issue to MsTeams.
[Instructions](https://answers.microsoft.com/en-us/msteams/forum/all/how-do-i-report-problems-with-microsoft-teams/d3aef6f9-9f29-4f4f-ab03-830b2d0f9bcd)

[2021-12-02 05:11] #179 closed

[2021-12-03 14:22] matt-carr commented on #109
If there's further discussion after a review, the reviews may be buried in the comments thread - it would be ideal to have all the critical PR information available at a glance in the main card

[2021-12-03 17:38] hds-developers commented on #140
We'd be interested in this as well.  We have some teams in the department (helpdesk, NOC) that don't use github, and if we could use Planner to track the entire deparmtent's work I could see that being really useful.

[2021-12-03 17:40] JeffreyCoburn commented on #140
We'd be interested in this as well. We have some teams in the department (helpdesk, NOC) that don't use github, and if we could use Planner to track the entire deparmtent's work I could see that being really useful.

[2021-12-05 20:41] doertli commented on #41
Looks like there’s a lot of issues related to formatting problems with HTML and MD, including this issue.

Adaptive Cards is now on v1.5 — and still doesn’t fully MD (no ✅ support, no headers, no tables); and doesn’t handle HTML at all.

Is it worth stripping HTML, or are there still plans by the Adaptive Card team to support HTML?

https://docs.microsoft.com/en-us/microsoftteams/platform/task-mod

[2021-12-08 10:14] Tallmaris opened #180 "Subscribe to a org and Unsubscribe from individual repos"
**Is your feature request related to a problem? Please describe.**
When using the `@github subscribe MyOrg`, github subscribes to all the repos. It is impossible at that point to unsubscribe from individual repos: `@github unsubscribe MyOrg/Myrepo` will reply with a message that the subscription does not exist.

**Describe the solution you'd like**
I would like to either have that feature work, an

[2021-12-08 15:15] matt-carr opened #181 "After migrating an organization to an enterprise subscription under a different organization name, subscriptions behave strangely"
**Describe the bug**
After migrating an organization from a standard github organization to a github enterprise organization under a different name with SSO enabled, all of my subscriptions broke.

This wouldn't be a huge deal, except that they broke:
1) silently
2) in such a way that, after running `signin` again, I couldn't add or modify subscriptions to the new repository names.

**To Reproduce

[2021-12-09 16:31] brandonsousa opened #182 "PR for specific branch"
**Is your feature request related to a problem? Please describe.**
Today there is the possibility to get commits for the specific branch but there is no possibility of PR

**Describe the solution you'd like**
Give the same possibility that you have in the commit, ie choose which branch you want to follow the PR

**Describe alternatives you've considered**

**Additional context**
If I have a squad

[2021-12-16 10:24] stefnpol opened #183 "FIlter Deployments based on environment"
**Is your feature request related to a problem? Please describe.**
We get a lot of deployment notifications from our test environment and a lot of the fail. That clutters up the channel

**Describe the solution you'd like**
I would like to be able to filter the deployments i want to see based on environment

**Describe alternatives you've considered**
I don't see any alternatives besides implement

[2021-12-16 22:01] SuzanneBeauchamp commented on #140
I support this idea.  We love using Planner for our smaller projects, and I would be sorely tempted to quit Jira if   there were a way to link the code to the cards.

[2021-12-17 09:27] Abhiram219 opened #184 "Flickering & Loading issue with adaptive card while unfurling link in teams channel"
**Describe the bug**
While link unfurls in the teams channel and if the response is an adaptive card, the card is not rendering as expected. Please see the video attached for the behavior. At 0.05 sec in the video attached, the card has loaded but it is not displayed, just a new empty line is added. The issue is observed only with adaptive cards, working as expected with hero and thumbnail cards.

[2021-12-17 09:28] #184 closed

[2021-12-17 16:15] mcurole opened #185 "Add support for Enterprise Managed Users"
**Is your feature request related to a problem? Please describe.**
We are implementing [GitHub Enterprise Manager Users - emu](https://github.com/integrations/microsoft-teams#future-work) and the teams app doesn't not work with the login required for EMU

**Describe the solution you'd like**
Update the login process to allow one to link with an EMU account.

**Describe alternatives you've consider

[2021-12-18 05:13] nikitph commented on #168
the proposed "solution" is not working for us. any suggestions please?

[2021-12-20 11:07] johannesbjorkdahl-decerno commented on #84
+1 We're trying to move over conversations from teams to github discussions to create a more usable knowledge base. This would make it a lot more usable since we still need to use teams for other conversations.

[2021-12-20 14:34] ggwells commented on #140
I'd really like to see integration between these two Microsoft products. Our team is currently using a 3rd-party solution, but I'd like to move in this direction to keep things under one "roof". Frankly, I'm a little surprised MS hasn't done more work here as it seems like a missed opportunity.

[2021-12-22 12:42] Martin2Improve commented on #178
This! Please fix this.

[2021-12-22 12:43] Martin2Improve commented on #175
This! Please fix this.

Something along the line of:

unsubscribe / [feature] comment

[2021-12-23 15:16] dmoorjmalani opened #186 "Microsoft Teams Apps not listing on Developer Portal"
**Describe the bug**
I uploaded Sample Teams App in the Developer Portal after adding a tab to a site. And the listing that you see stopped coming up, every time i add a new app, it just vanishes and never comes up in the list. When i open the Developer Portal in browser i see  [ https://dev.teams.microsoft.com/amer/api/appdefinitions/my/?pageNumber=1](url) erroring in 500. See the screen shot bel

[2021-12-30 02:35] achimnol opened #187 "Autolink to commits, issues and PRs just like in GitHub Markdown"
In GitHub, if we write `<username>/<repo>#<num>` then it is automatically linked to a specific issue or PR. I'd like to use the same feature in the regular Teams chats and messages, instead copy-and-pasting the whole URLs.

If possible, it would be much better to have a live-updated preview of the link, just [like link previews in Notion](https://www.notion.so/guides/notion-api-link-previews-featu

[2022-01-03 02:55] MrHtetNaingSoe opened #188 "Htet Corporation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-01-03 02:55] MrHtetNaingSoe opened #189 "Htet Corporation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-03 10:11] GuillaumeTong opened #190 "Enable batch commands"
## Problem
I need to manage subscription to 19 different repos, and that currently means I have to manually type `@github` (so that teams correctly detect my intent to mention) and then the command I need, 19 times.
This feels unnecessarily tedious.

## Solution
Either:

1. Enable a syntax for applying the same command to multiple repositories
2. Enable to write `@github` once, followed by multipl

[2022-01-03 13:13] TGSGlobal commented on #140
+1. Rich features offered by Microsoft Planner, combined with issues management using Github, is our ideal scenario. Please consider this as an integration that would solve many problems at once. Fully support it.

[2022-01-06 23:47] dougwaldron opened #191 "Subscribing to a single feature results in subscribing to all features"
Using the command `subscribe owner/repo [feature]` should only subscribe to that one feature. Instead, it subscribes to all features, and works no differently from `subscribe owner/repo`.

Even the screenshot from the [documentation for this command](https://github.com/integrations/microsoft-teams/blob/08f738bd3c7d6d5c178bbe89fef464a9edcd6e2d/Readme.md#customize-notifications) shows this bug in ac

[2022-01-10 07:15] tataclassedge opened #192 "Add GitHub's Projects' Canban Board/Issues"
Add GitHub's Projects' Canban Board/Issues list to view and manage them directly in teams

[2022-01-10 23:26] jdesulme commented on #185
While it's not readily apparent you can pass in your EMU handle and it will gray out the password field and change the button to login with your IDP. That should than allow you to connect to it.

[2022-01-13 09:45] Gillardo commented on #178
+1

[2022-01-13 15:59] mcurole commented on #185
Thank you. I actually discovered this on my own and forgot I had this issue out there.

[2022-01-13 15:59] #185 closed

[2022-01-13 16:04] tpanickergridsme commented on #192
Kanban

[2022-01-14 20:05] alvesarthur1996 commented on #140
We are using Microsoft Products in our company, some integration like a huge 3rd-party solution has would be amazing for us. We don't want to move out from Planner.

[2022-01-17 10:19] maciejmalysz opened #193 "Support Enterprise Github Integrations"
**Is your feature request related to a problem? Please describe.**
I would like to integrate with our enterprise github account

**Describe the solution you'd like**
I would like to integrate with our enterprise github account

[2022-01-17 10:23] maciejmalysz opened #194 "How to create a github issue from Teams directly"
Readme indicated it should be possible to create github issue directly from Teams - but help does not show such a command

[2022-01-21 00:12] cinch-toli commented on #84
👌 Would be interested in being notified for new activity in discussions too. Is this still on the roadmap? We are currently trying out Discussions for various use cases. And having visibility of new activity was one of the first things that popped up as a suggestion to keep the discussions prompt and alive

[2022-01-25 15:35] DhavalThumar opened #195 "Adaptive card not rendering properly on Android"
**Describe the bug**
Adaptive card v1.5 not properly rendering on Android's Team App version 1416/1.0.0.2021206203 release. The same adaptive card is properly rendered on 1416/1.0.0.2021195305 version

**Screenshots**
Expected Result (Adaptive card working properly on lower Team's app version on Android
![Expected](https://user-images.githubusercontent.com/23481718/151007534-b71d2d04-d85a-4c00-82a

[2022-01-31 13:23] dmeatte-aq commented on #191
This is a frustrating issue for us. I can recreate the same issue and workaround as @dougwaldron.

[2022-02-01 21:20] Kallows commented on #140
+1 I like to see and use this feature I the future.

[2022-02-07 05:50] #188 closed

[2022-02-07 05:50] #189 closed

[2022-02-09 06:47] ortonomy commented on #191
ha! this integration is next to useless. Also seeing same issue

using command `subscribe ThriveDrive/thrive-drive-frontend subscribe commits "develop"`

and response from bot is:

errr, I don't have discussions in my repository, and I just tried to subscribe to commits only. What a waste of time

[2022-02-11 09:34] ebesic-bluefield commented on #80
I'd like to see this as well, the current implementation of reviews is sadly not useful for our workflow. Has there been any progress on this feature? It's been a year since @ashokirla commented on this.

[2022-02-22 18:38] cquanu commented on #116
@ashokirla now **username** and **repository** is linked can we have the **repository branch** linked as well?

[2022-02-27 06:52] MunifTanjim commented on #165
Any update on this one? The experience is really bad - it's impossible to read code suggestions.

[2022-02-27 06:52] MunifTanjim commented on #112
Any update on this one? The experience is really bad - it's impossible to read code suggestions.

[2022-03-01 15:39] abasit-arc commented on #140
Yes, this is a great idea and i would like to see implemented.

[2022-03-02 13:48] tannerbaum commented on #34
Agreed that this makes the integration somewhat unusable for us as well.

<img width="1346" alt="Screen Shot 2022-03-02 at 14 47 37" src="https://user-images.githubusercontent.com/1280597/156373796-bade1a43-02fa-44a3-89f7-cec21a5a9114.png">

[2022-03-07 10:53] prokopec-simon commented on #140
+1 This would drastically reduce time spent maintaining two synced lists

[2022-03-08 09:39] michaeljones opened #200 "Allow disabling card previews in messages"
**Is your feature request related to a problem? Please describe.**

(I'm using the "frustrated" wording here as it is suggested in the template.)

I'm frustrated when including GitHub links in my messages and Teams' attempt to insert a preview card into my message makes it harder for me to write the message.

I'm frustrated when the card content sometimes flashes in and out or just doesn't appear

[2022-03-14 15:15] shunte88 commented on #192
Irrespective of the spelling this would be a fantastic feature to leverage from within teams
I just installed the integration package expecting the board to be there - and rather crestfallen to see it is not
I can see it doesn't lend itself well to a conversational thread - but is there any way that it could be leveraged and made sticky
So, Kan We Haz Kanban!
Please feel free to correct spelling a

[2022-03-16 15:24] michaeljones opened #201 "Option to switch channel integration to event stream rather than cards"
**Is your feature request related to a problem? Please describe.**

(I'm using the "frustrated" wording here as it is suggested in the template.)

I'm frustrated when a pull request is rendered as a large card which goes off the top of the screen as its appearance and any updates that move it to the bottom push all other content out of the view. I miss updates if two or three PRs with large cards

[2022-03-18 07:39] ehovaere opened #202 "Unable to schedule a reminder"
**Describe the bug**
Creating a reminder using @github mention does not work in a channel

**To Reproduce**
Where github mention is auto completed and validated, a "create github issue" screen appears. Cancelling the issue erases the current message text. It is thus impossible to enter the command @github schedule xx/yyyyy

**Expected behavior**
A reminder should be scheduled

**Desktop (please co

[2022-03-18 16:55] aarondandy commented on #200
This feature also causes me to become very frustrated and I would love to disable it. To assist with future searches for this issue, it looks like the team refers to this feature as "Unfurl GitHub links" .

My specific frustration is that if I remove the card I can no longer type in my message sometimes. Other times, portions of the URL or my original message become deleted which is totally bizarr

[2022-03-18 17:12] aarondandy commented on #200
As a workaround, it seems like I can right-click the github icon located below the text input, and select uninstall. This does not appear to impact other functionality but worth it for me either way 🤷‍♂️

[2022-03-23 00:32] ImSeaWorld commented on #140
+1 I would like to use one central application rather than multiple

[2022-03-23 18:05] kkankala commented on #27
bump.

[2022-03-25 14:21] aarondandy commented on #200
This option in the teams settings seems to help too

![image](https://user-images.githubusercontent.com/404933/160138860-697dc0be-ef22-4c0d-8ac4-7ea65d8a4c84.png)

[2022-04-02 18:24] sign3984 commented on #140
+1 I like to see microsoft Planner and To-do list be connected with Github in a way that is easy to  understand

[2022-04-06 13:08] leon-vg opened #203 "Filter discussions by category"
**Is your feature request related to a problem? Please describe.**
At our company, we have a specific discussions repository with a few categories, which we would like to move to the organization level when [the organization discussions feature ](https://github.com/github/feedback/discussions/13192) is released.
 In Microsoft Teams, we would like to get updates on just one of these categories per

[2022-04-07 09:13] sebastianbuechler opened #204 "Unsubscribe to own comments"
For now, I get notified about my own comments, which is disruptive and not helpful at all. It would be nice to be able to unsubscribe for own comments or even make this default.

[2022-04-08 15:03] dmeatte-aq commented on #185
@jdesulme , @mcurole , I'm also trying to connect an EMU with the Teams integration. What do you mean by pass in the EMU handle? Thanks.

[2022-04-08 20:14] mcurole commented on #185
Actually, I ended up just using my EMU ID and it redirected me properly to my IdP

[2022-04-11 11:27] dmeatte-aq commented on #185
@mcurole, thanks. The issue was I use the desktop client. Once I used the web browser, it was able to use my existing auth tokens to set up the account. The connection now works in the desktop and web browser client.

[2022-04-11 11:37] dmeatte-aq opened #205 "Can't connect to EMU with desktop Teams client"
**Describe the bug**
The _signin_ command won't allow you to authorize with an EMU account when using the desktop Teams client.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the desktop Teams client.
2. Open a chat with the `@GitHub` bot.
3. Type `signin` in the chat.
4. The bot will respond with a "Connect GitHub account" button. Click the button.
5. The button opens a dialog that s

[2022-04-13 11:51] lucas-gonzalez commented on #190
I would also like some form of this feature to come through.

I maintain subscriptions to concrete events (releases and deployments, mostly) of 40+ repositories. Managing configurations for setups like mine, where I actually not only have to subscribe to each of those repositories, but also _unsubscribe_ from most features, is a nightmare.

Being able to issue all 200+ commands in batches for setu

[2022-04-19 13:42] #31 closed

[2022-04-19 17:09] holljen commented on #31
Issue solved?

[2022-04-25 07:30] Niedzwiedzw opened #206 "Microsoft Teams runs much slower on Linux"
I love Microsoft and Microsoft Teams, but it runs much worse on linux and I need to use linux cause I'm developing a cross platform apps in C#...
I think the cause is that it doesn't use Webview2 implementation on Linux.
This is the related issue https://github.com/MicrosoftEdge/WebView2Feedback/issues/645

[2022-04-25 07:42] ashokirla commented on #206
Hi @Niedzwiedzw, We are a GitHub team that owns GitHub integration with MS Teams. This repo is for sharing feedback for GitHub app in Microsoft Teams. I think this issue should be reported to Microsoft Teams platform.

[2022-04-25 07:42] #206 closed

[2022-04-25 07:43] Niedzwiedzw commented on #206
@ashokirla thank you, could you point me to the right direction? where could I report this problem?

[2022-04-25 07:44] ashokirla commented on #204
Thanks for the feedback. We have plans to improve our filter criteria. As part of it we will look into this request.

[2022-04-25 07:45] ashokirla commented on #202
@meghnasavit (DRI) : Can you please look into this issue.

[2022-04-25 07:59] ashokirla commented on #201
@michaeljones Thanks for the feedback. We have plans to improve the PR card with expand and collapse functionality so that it occupies less space and yet provide all the info you need.
Here is an experimentation mock we are working on. Let me know if you have any suggestions.
<img width="801" alt="Screenshot 2022-04-25 at 1 26 40 PM" src="https://user-images.githubusercontent.com/25578249/16504557

[2022-04-25 08:07] ashokirla commented on #195
@snankani Can you get the DRI look into this issue.

[2022-04-25 08:09] ashokirla commented on #193
@maciejmalysz Are you referring to GHES or GHAE integration.

We are planning to rollout a private preview of GHES integration by end of June. GHAE would take another 3 months.
Please let us know if you are interested in private preview.

[2022-04-25 08:09] ashokirla commented on #192
Thanks for the feedback. We will add this request to our backlog.

[2022-04-25 08:40] ashokirla commented on #175
@Ontobetterthings Are you referring to personal app or channel.
In a channel, everyone in the team is viewing the notifications. So, to show the current status, every event will be notified in the channel. We have recently rolled out mentions feature that enables you to only look at the ones you are required i.e. when you are a reviewer, assignee or mentioned in the comment. This should reduce the

[2022-04-25 08:41] ashokirla commented on #177
@snankani Can you please get the DRI to look into this issue.

[2022-04-25 08:43] ashokirla commented on #205
@snankani Can you please get the DRI to look into the issue.

[2022-04-25 08:47] #195 closed

[2022-04-25 08:48] ashokirla commented on #186
@dmoorjmalani We are a GitHub team that owns GitHub integration with MS Teams. This repo is for sharing feedback for GitHub app in Microsoft Teams. I think this issue should be reported to Microsoft Teams platform.

[2022-04-25 08:48] #186 closed

[2022-04-25 08:51] ashokirla commented on #166
@kimleeng , Thanks for the feedbck. Yes we have this in our backlog. We will allow you to dynamically search and view a repo from chat and provide option to share with the team.

[2022-04-25 08:53] michaeljones commented on #201
Thanks for the reply @ashokirla. That would definitely be an improvement. It looks good to me. I only really care about the title and maybe the approval status so that should work.

I still think that a event stream mode would be valid but I realise that you're necessarily looking change it all up too much.

[2022-04-25 11:15] dmeatte-aq commented on #205
This may not be an issue. I don't know if this is a recent change, but currently, if I type in my emu username into the sign in dialog that the teams integration pops up, the sign in button at the bottom changes to "Sign in with your identity provider" and the password box is disabled. This does allow be to enable the integration. This feature seems to be enabled when the username contains an unde

[2022-04-25 11:42] maciejmalysz commented on #193
Thanks @ashokirla - yet I would be interested in private preview. I have in mind GHES

[2022-04-26 07:35] ashokirla commented on #190
@lucas-gonzalez @GuillaumeTong Thanks for the feedback. We will look into the options to enable commands targetting to multiple repos at once.

[2022-04-26 07:41] ashokirla commented on #27
Hi @hotgazpacho @SonicGD @bkottcamp @sriram275 @Tschwen @arndkeyz @Sony-Varghese @gt3M @icklers @kkankala @tjaroszuk @trackitsvalue @BogdanAndreiRoman @byrneh @paulanguiano @lolphert 👋
Thanks for your patience. We are almost close to completing GHES integration. We are planning rollout as part of GHES 3.6.
This will be a private preview where we will enable the integration for interested customers

[2022-04-27 13:34] J-Franko commented on #140
+1 this would increase the connection between project management members and software developers

[2022-04-27 15:29] #86 closed

[2022-04-28 11:33] mmailaender commented on #121
Any news on that topics? It's now over a year without response. Would be great to know if this issue will get some traction soon :)

[2022-04-28 11:37] mmailaender commented on #162
@ashokirla Any news on the ETA for this feature?

[2022-04-29 18:41] zeeraktalat commented on #140
@ashokirla is there any news on this (even if just which team would handle it)? It seems that there's general interest in this connection.

[2022-05-06 11:34] maxy9 commented on #169
+1 on this feature request.

We have the same scenario when subscribed to `releases`; it would be much nicer if the markdown was rendered here too :)

[2022-05-11 11:15] sander-su commented on #203
any progress on this? @ashokirla

[2022-05-12 21:47] vetali commented on #140
+1  In many cases management doesn't use GitHub but use Planner within Teams. On the other hand, for developers it's easier to track tasks/bugs in GitHub issues. It will be awesome if we could at least have a simple link/connection between a GitHub issue and a task in Planner.

[2022-05-13 13:45] jfacoustic commented on #140
+1 This would help satisfy both management and development teams, as business people seem to prefer planner, but planner isn't a very effective tool for development teams.

[2022-05-17 05:42] Madhava-gollapalli commented on #135
Yes, it is hard to assess the security review for this integration.

Is there any timeline for this to update into documentation.

[2022-05-18 15:40] colton-neary-ssr commented on #57
+1

[2022-05-18 16:39] r259c280 commented on #193
@ashokirla I would be interested in a private preview of GHES integration. Shall I reach out to [chatops@github.com](mailto:chatops@github.com) as well?

[2022-05-19 17:43] philip-gai opened #207 "Send real-time alerts when PR has failed CI checks"
This is related to https://github.com/integrations/microsoft-teams/issues/40 but more specifically, it would be great if users could get direct messages in Teams when their PR has failed CI checks.

[2022-05-19 23:25] saasaTom opened #208 "Show number of files in github PRs"
I'd be interested to see the number of files in a PR card to be able to make a decision on when to review.

i.e. if only a few files I could review before a meeting but a large PR might have to wait.

[2022-05-20 16:45] joe-warrington commented on #165
Bump - also from me, not a great user experience given how frequently our team uses code suggestions.

[2022-05-31 01:51] galvesribeiro commented on #27
Hello @ashokirla! Tried to send you an email but it bounced :(

<img width="638" alt="image" src="https://user-images.githubusercontent.com/4714040/171077199-70624049-1625-4143-b978-f018709abf6c.png">

[2022-06-03 07:50] JohnBertelsen opened #210 "@ mentions support"
@ mentions support - notify the user when they are assigned an issue, added as a reviewer for PR or Deployment, someone mentioned you in a comment or description which is posted to the channel/personal chat via subscription.

Can we have this please

[2022-06-03 08:37] rxa1031 commented on #145
Hello @ashokirla ,

Please let me know by when this feature is expected to be launched.

Thanks,
@rxa1031

[2022-06-08 08:58] GKilsgaard commented on #140
+1

[2022-06-08 20:35] ryantho66 opened #211 "Theme not applying to video calls"
**Describe the bug**
Theme does not properly apply to video calls. The border, chat, etc are all dark even when on the default theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Set theme to default
2. Start a video call

**Expected behavior**
Video call should match theme of Teams

**Screenshots**
![image](https://user-images.githubusercontent.com/37420986/172712094-e2288463-7ded-4bdf-9

[2022-06-09 04:45] aasiddiq commented on #211
Hi @ryantho66
We are a GitHub team that owns GitHub integration with MS Teams. This repo is for sharing feedback for GitHub app in Microsoft Teams. This issue should be reported to Microsoft Teams platform.

[2022-06-09 04:45] #211 closed

[2022-06-10 09:29] tc-tbl opened #212 "subscribe to my watching repository"
Currently I can only subscribe to a specific repository or to an entire organization. It would be nice if you could only subscribe to repositories that I follow/watch.

[2022-06-14 07:41] timoleo23 opened #213 "Images in comments are stretch when display in Teams personal app"
**Describe the bug**
When posting an image in a comment (issue / PR) via GitHub cloud, the image received in Teams personal app is stretched (width)
This problem doesn't happen with the Teams app deployed in a team.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to GitHub cloud
2. Create a PR / Issue
3. Copy / paste an image (e.g. take a screenshot)
4. Submit the comment
5. In Teams, che

[2022-06-15 13:36] agoyalcalance opened #214 "Subscribing to a repository under a single chat thread"
providing a basic context of the requirement here, we create threads for individual projects for which people are working. These projects may / may not have repository associated with it. The team is expected to drop a daily status report under this chat thread. ideally the expectation is that any activity that happens in the repository also falls under the same thread rather than a separate card

[2022-06-23 17:01] DanShoubridge commented on #57
+1

[2022-06-24 13:27] smlgbl commented on #86
Is there a way to exclude based on labels instead? We would like to exclude dependabot PRs, not specifically include them...

[2022-06-27 11:48] RaiAmanRai opened #216 "Manifest parsing fails"
On uploading a custom built, I get hit with "manifest parsing failed" while another manifest with just a different app name passes manifest parsing.

Even the failed manifest passes after a couple of 100 tries.

Even, when I try to create my own app through teams, it fails the auto-generated manifest!!

I don't understrand, if I am doing something worng or is there a bug in teams.

[2022-06-28 09:08] #126 closed

[2022-06-29 16:38] AlexOrmanBayer commented on #204
Additionally, it would be nice if we could prevent being notified of our own PR's, commits, etc.

[2022-07-05 17:18] SauravNahata commented on #27
Hello @ashokirla, Any updates on when is this planned for GA? Thanks!

[2022-07-05 18:42] ScottHoward4 commented on #40
@ashokirla Any updates on this issue?

[2022-07-06 10:33] rdhksnvns commented on #57
+1

[2022-07-15 07:59] ashokirla commented on #27
Hi all 👋 ,

We are planning to rollout GHES integration as part of GHES 3.6. We have completed the implementation and waiting for 3.6 release (early August).

This will be a private preview, where interested customers can enrol for the preview. We will help you with the onboarding process. Will share more details once we are close to the release date.

Those who are interested in private preview,